.widget-street-view{
  width: 100%;
  height: 100%;
  position: relative;
}

.widget-street-view .centerdiv{
  width: 40px;
  height: 40px;
}

.widget-street-view .gsviconnormal{
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  text-align: center;
  background-image: url("images/gsv_button_norm.png");
  position: absolute;
  margin: 0 0 0 -20px;
  left: 50%;
}

.widget-street-view .gsviconplaced{
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  text-align: center;
  background-image: url("images/gsv_button_down.png");
  position: absolute;
  margin: 0 0 0 -20px;
  left: 50%;
}

.widget-street-view .gsviconplaced:hover{
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  text-align: center;
  background-image: url("images/gsv_button_over.png");
  position: absolute;
  margin: 0 0 0 -20px;
  left: 50%;
}

.widget-street-view .gsviconnormal:hover{
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  text-align: center;
  background-image: url("images/gsv_button_over.png");
  position: absolute;
  margin: 0 0 0 -20px;
  left: 50%;
}

.JewelryBoxTheme.purple .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.purple .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.purple .jimu-on-screen-widget-panel > .jimu-panel-title {
  background-color: rgb(171, 109, 174);
  background-color: rgba(171, 109, 174, 1);
}

.JewelryBoxTheme.blue .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.blue .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.blue .jimu-on-screen-widget-panel > .jimu-panel-title {
  background-color: rgb(0, 95, 162);
  background-color: rgba(0, 95, 162, 1);
}

.JewelryBoxTheme.yellow .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.yellow .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.yellow .jimu-on-screen-widget-panel > .jimu-panel-title {
  background-color: rgb(208, 125, 14);
  background-color: rgba(208, 125, 14, 1);
}

.JewelryBoxTheme.red .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.red .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.red .jimu-on-screen-widget-panel > .jimu-panel-title {
  background-color: rgb(201, 46, 73);
  background-color: rgba(201, 46, 73, 1);
}

.TabTheme.simpleblue .jimu-on-screen-widget-panel > .jimu-panel-title {
  background-color: rgb(52, 152, 219);
  background-color: rgba(52, 152, 219, 1);
}

.JewelryBoxTheme.green .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.green .jimu-on-screen-widget-panel > .jimu-panel-title {
  background-color: rgb(42, 170, 138);
  background-color: rgba(42, 170, 138, 1);
}

.TabTheme.green .jimu-on-screen-widget-panel > .jimu-panel-title {
  background-color: rgb(5, 171, 8);
  background-color: rgba(5, 171, 8, 1);
}

.TabTheme.cyan .jimu-on-screen-widget-panel > .jimu-panel-title {
  background-color: rgb(42, 170, 138);
  background-color: rgba(42, 170, 138, 1);
}

.JewelryBoxTheme.cyan .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.cyan .jimu-on-screen-widget-panel > .jimu-panel-title {
  background-color: rgb(38, 112, 48);
  background-color: rgba(38, 112, 48, 1);
}

.JewelryBoxTheme.black .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.black .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.default .jimu-on-screen-widget-panel > .jimu-panel-title {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 1);
}

.FoldableTheme.default .jimu-on-screen-widget-panel > .jimu-panel-title {
  background-color: rgb(89, 102, 121);
  background-color: rgba(89, 102, 121, 1);
}

.JewelryBoxTheme.default .jimu-on-screen-widget-panel > .jimu-panel-title {
  background-color: rgb(89, 102, 121);
  background-color: rgba(89, 102, 121, 1);
}
