<div>
  <div class="jimu-widget-zoom-prev-next helpWidgetButtonDiv">
    <div class="zoom-prev-button" data-dojo-attach-point="zoomPrevButton" title="${nls.zoomPrev}" data-dojo-attach-event="onClick: _onBtnClick">
      <span data-dojo-attach-point="leftArrow" role="button">&#8592;</span>
    </div>
    <div class="zoom-next-button" data-dojo-attach-point="zoomNextButton" title="${nls.zoomNext}" data-dojo-attach-event="onClick: _onBtnClick">
      <span data-dojo-attach-point="rightArrow" role="button">&#8594;</span>
    </div>
  </div>
  <div>
    ${nls.Help.mainContent}
  </div>
</div>