.jimu-widget-draw-setting .add-with-icon{
  margin-top:8px;
  margin-bottom:3px;
}

.jimu-widget-draw-setting .jimu-tab{
  position: static;
}

.jimu-widget-draw-setting .jimu-tab>.jimu-viewstack{
  position: static;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  height: auto;
}

.jimu-widget-draw-setting .jimu-viewstack>.view{
  height: auto;
}

.jimu-widget-draw-setting .tip{
  color: #596679;
  font-size: 14px;
}

.jimu-widget-draw-setting .add-with-icon.jimu-state-disabled{
  color: #ccc;
  cursor: default;
}