.jimu-widget-printplus{
}

.jimu-widget-printplus .dijitSelect{
  height: 20px;
  width: 100%;
}

.gis_PrintPlusDijit {
  width: 100%;
}

.gis_PrintPlusDijit .printResult {
  /*border: 1px solid #CCCCCC;*/
  height: 28px;
  margin-bottom: -1px;
  width: 100%;
}

.gis_PrintPlusDijit .printResult .printResultTable {
  width: 100%;
}

.gis_PrintPlusDijit .printResult .bold {
  font-weight: bold;
}

.gis_PrintPlusDijit .printResultError {
  font-weight: bold;
  color: red;
}

.gis_PrintPlusDijit .printResultHover table:hover {
  background-color: #D4E7F8;
  cursor: pointer;
}

.gis_PrintPlusDijit .buttonActionBar {
  /*background-color: #F2F2F2;
  border: 1px solid #CDCDCD;*/
  padding: 3px 0px 2px 0px;
  text-align: right;
  width: 100%;
}

.gis_PrintPlusDijit .formContainer {
  /*border: 1px solid #bbb;*/
  margin-bottom: -1px;
  width: 100%;
}

.gis_PrintPlusDijit .resultsContainer {
  width: 100%;
  margin-top: 10px;
}

.gis_PrintPlusDijit .printIcon {
  background-image: url(../images/print.png);
  width: 16px;
  height: 16px;
}

.gis_PrintPlusDijit .clearIcon {
  background-image: url(../images/clear.png);
  width: 16px;
  height: 16px;
}

.gis_PrintPlusDijit .settingsIcon {
  background-image: url(../images/settings.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
.gis_PrintPlusDijit .dijitArrowButtonContainer {
  width: 17px;
}
.gis_PrintPlusDijit .dijitSliderImageHandle {
  outline: none;
}
.unselectable {
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}


