.jimu-widget-directions-setting > table > tbody > tr > td{
  padding:5px 0;
}

.jimu-widget-directions-setting .route-td{
	padding-left: 10px;
}

.jimu-widget-directions-setting .jimu-ellipsis{
	white-space: normal;
}

.jimu-rtl .jimu-widget-directions-setting .route-td{
	padding-left: 0;
	padding-right: 10px;
}

.jimu-widget-directions-setting .locator-td{
	padding-left: 10px;
}

.jimu-rtl .jimu-widget-directions-setting .locator-td{
	padding-left: 0;
	padding-right: 10px;
}

.jimu-widget-directions-setting .travelmodes-td{
	padding-left: 10px;
}

.jimu-rtl .jimu-widget-directions-setting .travelmodes-td{
	padding-left: 0;
	padding-right: 10px;
}

.jimu-widget-directions-setting .trafficlayer-td{
	padding-left: 10px;
}

.jimu-rtl .jimu-widget-directions-setting .trafficlayer-td{
	padding-left: 0;
	padding-right: 10px;
}

.jimu-widget-directions-setting .auto-complete-td span{
	margin-left: 10px;
}

.jimu-rtl .jimu-widget-directions-setting .auto-complete-td span{
	margin-left: 0px;
	margin-right: 10px;
}