@import url("customDrawBox.css");
/*form*/
.widget-draw-control {
    margin: 0 15px 5px 15px;
    padding-right: 15px;
}


.hide {
    display: none;
}

.widget-intro {
    margin: 0 15px 0 15px;
    font-size: 12px;
    line-height: 150%;
}

/*shared*/
.widget-error {
    font-size: 1.1em;
    color: orangered;
}
td.simple-table-td.normal-text-td.syncProcessing {
  color:mediumorchid;
}
td.simple-table-td.normal-text-td.syncComplete {
    color: blue;
}

/*Layers Results*/
.solutions-widget-batcheditor .widget-layers-table {
    margin: 10px 15px 0 15px;
    padding-right: 15px;
    font-size: 12px;
}

.solutions-widget-batcheditor .widget-layers-table .selectioncount {
    width: 60px;
}

td.simple-table-td.normal-text-td.maxRecordCount {
    color: orangered;
}

.layerInIntro {
    font-weight: bold;
        color: blue;
}

.maxRecordInIntro {
    color: orangered;
    font-weight: bold;
}
/*Loading Message*/
.loading-indicator {
    /* Loading status */
    height: 100%;
    width: 100%;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba(128, 128, 128, 0.10);
    background-position: center center;
    background-image: url(../images/preloader.gif);
    background-repeat: no-repeat;
}

/*Controls*/
.widget-controls {
    width: 100%;
    margin-top: 15px;
}

.clearBtn {
    margin-right: 25px;
    float: right !important;
    display: inline-block !important;
}

.solutions-widget-batcheditor .widget-results {
    font-size: 1.1em;
    color: blue;
    margin-left:15px;
}
