html, body, #myMap,#map-canvas,#map {
    margin: 0px;
    padding: 0px;
}
html,body {
    height: 100%; width: 100%;
}
form,input
{
    margin: 0px;
    padding: 0px;
}
.esriScalebar{
        padding: 20px 20px;
      }
.dojoxFloatingPaneTitle {
    background: none repeat-x scroll left bottom #446485;
    height: 18px;
    color: White;
    padding-top: 0px;
}
.dojoxFloatingMaximizeIcon {
    background-image: url("images/popup.png");
    float: right;
    margin: 0 4px;
    overflow: hidden;
    width: 7px;
    background-position: 0 -251px;
    height: 11px;
    right: 22px;
    top: 5px;
    width: 11px;
}
.NavBar_zoom 
{
    display: none!important;
}
.NavBar_zoomDrop 
{
    height:0px!important;
}
.MicrosoftMap .Infobox .infobox-info, .MicrosoftMap .Infobox .infobox-title 
{
    padding: 2px!important;
}
#viewdiv 
{
    position: absolute; 
    top: 10px; 
    left: 100px; 
    padding: 4px 4px 4px 4px;
    width: 200px; 
    z-index: 100; 
    background-color: #ffffff;
	opacity: 0.70;
	filter:alpha(opacity=70);
	border-style: solid;
	border-width: 3px;
	border-color: #666;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
	font-size: 10pt;
}

.closediv 
{
    position: absolute; top: 10px; right: 14px;
}
.note 
{
    font-style: italic; font-family: verdana,Tahoma;font-size: 9pt;
}
#search {
        display: block;
        position: absolute;
        z-index: 2;
        top: 2px;
        right: 4px;
      }


