.jimu-widget-StreetViewPopup-setting > table > tbody > tr > td{
  padding:5px 0;
}

.jimu-widget-StreetViewPopup-setting .formating{
	white-space: nowrap;
	margin-left: 20px;
}

.jimu-rtl .jimu-widget-StreetViewPopup-setting .formating{
	margin-left: 0;
	margin-right: 20px;
}
