<div>
  <div class="jimu-widget-printplus helpWidgetButtonDiv">
    <img class="jimu-widget-printplus helpWidgetButtonIcon" title="${nls.Help.clickToOpen}"
         src="widgets/PrintPlus/images/icon.png">
    </img>
  </div>
  <div>
    ${nls.Help.intro}<br>
    <div style="font-weight:bold;">
      <div style="float:left; width:25%; margin:0; padding:0;">
        <ul style="text-indent:-5px">
          <li>${nls.Help.pdf}</li>
          <li>${nls.Help.jpg}</li>
        </ul>
      </div>
      <div style="float:left; width:25%; margin:0; padding:0;">
        <ul style="text-indent:-5px">
          <li>${nls.Help.png8}</li>
          <li>${nls.Help.png32}</li>
        </ul>
      </div>
      <div style="float:left; width:25%; margin:0; padding:0;">
        <ul style="text-indent:-5px">
          <li>${nls.Help.gif}</li>
          <li>${nls.Help.eps}</li>
        </ul>
      </div>
      <div style="float:right; width:25%; margin:0; padding:0;">
        <ul style="text-indent:-5px">
          <li>${nls.Help.svg}</li>
          <li>${nls.Help.svgz}</li>
        </ul>
      </div>
    </div>
  </div>
  <div style="clear:both;">
    The print ready document will be formatted and scaled for one of the following <b>layouts</b>:<br>
    <div style="font-weight:bold;">
      <div style="float:left; width:65%; margin:0; padding:0;">
        <ul style="text-indent:-5px; margin-left:20px; padding-left:0px; margin-bottom:0px; padding-bottom:0px;">
          <li>${nls.Help.letter_landscape}</li>
          <li>${nls.Help.letter_portrait}</li>
          <li>${nls.Help.tabloid_landscape}</li>
          <li>${nls.Help.tabloid_portrait}</li>
        </ul>
      </div>
      <div style="float:left; width:35%; margin:0; padding:0;">
        <ul style="text-indent:-5px; margin-left:20px; padding-left:0px; margin-bottom:0px; padding-bottom:0px;">
          <li>${nls.Help.a4_landscape}</li>
          <li>${nls.Help.a4_portrait}</li>
          <li>${nls.Help.a3_landscape}</li>
          <li>${nls.Help.a3_portrait}</li>
        </ul>
      </div>
      <div style="clear:both;">
        <ul style="text-indent:-5px; margin-left:20px;">
          <li>${nls.Help.map_only}</li>
        </ul>
      </div>
    </div>
  </div>
  <div style="clear:both;">
    ${nls.Help.mainContent}
  </div>
</div>