.dtc-imageInfo {
	padding: 5px; 
}

.dtc-imageInfo > .head3 {
	display:block;
    font-size: 1.4em;
	font-weight: bold;
}

.dtc-imageInfo > .imageDetails {
	margin-bottom: 20%;
}

.dtc-imageInfo > .imageDetails > .details {
	width: 187px;
}

.dtc-imageInfo > .imageDetails > .details .field {
	display:block;
	font-weight: bold;
}

.dtc-imageInfo > .imageDetails > .details .value {
	display:block;
	width:187px;
	font-style: italic;
	margin-bottom: 5px;
	word-wrap: break-word;
}

.right {
	float:right;
}

.dtc-imageInfo .esriButton, .imageInfoDetail .esriButton > span {
	width: 26px !important;
	height:26px !important;
	margin-bottom: 6px;
}

.iconIdentify {
	margin-left: 4px;
    background: url("../images/crosshair.png") no-repeat scroll center center transparent;
    height: 18px;
    width: 18px;
}
