.widget-esearch {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 265px;
  min-height: 279px;
}

.widget-esearch .required {
  color: red;
}

.jimu-widget-frame>.widget-esearch>.jimu-tab>.control {
  margin: -14px -14px 0 -14px;
}

.jimu-widget-frame>.widget-esearch>.jimu-tab>.jimu-viewstack,
.jimu-container>.widget-esearch>.jimu-tab>.jimu-viewstack {
  position: absolute !important;
  top: 45px !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  height: auto;
  margin-bottom: -14px;
}

.widget-esearch>.jimu-tab>.jimu-viewstack{
  position: absolute !important;
  top: 45px !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  height: auto;
  margin-bottom: -14px;
}

.widget-esearch .search-tab-node {
  position: absolute !important;
  width: 100% !important;
  height: auto !important;
  top: 0 !important;
  bottom: 0 !important;
}

.widget-esearch .search-tab-node-hidden {
  position: absolute !important;
  width: 100% !important;
  height: auto !important;
  top: 0 !important;
  bottom: 0 !important;
  display: none;
}

.widget-esearch .option-div {
  font-size: 14px;
  padding-left: 10px;
  height: 16px;
}

.widget-esearch .btn-grasearch {
  margin-left: auto;
  margin-right: auto;
  padding: 6px 12px;
}

.widget-esearch .dijitArrowButtonContainer {
  width: 30px;
}

.widget-esearch .dijitSelect {
  height: 30px;
  width: 100%;
}

.widget-esearch .searchFeaturesIcon {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  text-align: center;
  float: left;
  margin: 10px 11px 12px 11px;
}

.widget-esearch .searchFeaturesIcon:hover {
  background-color: #C0C0C0;
}

.widget-esearch .contain-icon {
  background-image: url("images/contain.png");
}

.widget-esearch .intersect-icon {
  background-image: url("images/intersect.png");
}

.widget-esearch .envintersects-icon {
  background-image: url("images/envintersects.png");
}

.widget-esearch .within-icon {
  background-image: url("images/within.png");
}

.widget-esearch .touches-icon {
  background-image: url("images/touches.png");
}

.widget-esearch .overlaps-icon {
  background-image: url("images/overlaps.png");
}

.widget-esearch .indexintersects-icon {
  background-image: url("images/index.png");
}

.widget-esearch .crosses-icon {
  background-image: url("images/crosses.png");
}

.widget-esearch .hcenter {
  margin-left: auto;
  width: 100%;
  height: 40px;
}

.widget-esearch .spatial-items {
  display: table;
  margin: 0px auto;
  height: 40px;
}

.widget-esearch .spatial-items .spatial-item {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0 4px;
  float: left;
}

.widget-esearch .spatial-item.selected,
.widget-esearch .spatial-item:hover {
  background-color: #C0C0C0;
}

.widget-esearch .buffer-icon {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  text-align: center;
  float: left;
  margin: 7px;
  background-image: url("images/buffer.png");
  cursor: pointer;
}

.widget-esearch .buffer-icon:hover {
  background-color: #C0C0C0;
}

.TabTheme .widget-esearch .jimu-tab>.control>.tab.jimu-state-selected {
  border-top: 0;
}

.search-valign-ele {
  line-height: 47px;
}


/*used for the controller List*/

.search-list-container {
  min-width: 100%;
  height: 100%;
  vertical-align: middle;
  float: left;
  position: relative;
}

.search-list-item {
  line-height: 30px;
  font-size: 12px;
  white-space: pre;
  position: relative;
}

.search-list-item .label {
  padding-left: 40px;
  padding-right: 10px;
  padding-bottom: 3px;
  cursor: default;
  word-wrap: break-word;
}

.search-list-item .attTitle {
  font-weight: 600;
}

.search-list-item .labellink {
  padding-left: 40px;
  padding-right: 10px;
  padding-bottom: 3px;
  cursor: pointer;
  outline: none;
}

.search-list-item .iconDiv {
  text-align: center;
  position: absolute;
  height: 100%;
  left: 0;
}

.search-list-item .linksdiv {
  text-align: center;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.search-list-item .linkIcon {
  display: inline-block;
}

.search-list-item .iconDiv:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

.search-list-item .iconDiv svg {
  display: inline-block;
  vertical-align: middle;
}

.search-list-item.alt {
  background-color: #ebebeb;
}

.search-list-item.selected {
  background-color: #d9dde0;
}

.search-list-item.selected.alt {
  background-color: #d9dde0;
}

.search-list-item:hover {
  background-color: #dcdcdc;
}

.search-list-item.alt:hover {
  background-color: #dcdcdc;
}

.search-list-item.selected:hover {
  background-color: #d9dde0;
}

.search-list-item.selected.alt:hover {
  background-color: #d9dde0;
}

.widget-esearch .esearch-list {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: auto;
  overflow-y: auto;
}

.widget-esearch .esearch-list.sum {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 24px;
  overflow-x: auto;
  overflow-y: auto;
}

.widget-esearch .esearch-sum {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.widget-esearch .select-layer-spatial {
  width: 96%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.widget-esearch .esearch-select {
  width: 83%;
  margin-top: 10px;
  margin-right: 3px;
}

.widget-esearch .button-clear-graphical {
  float: right;
  margin-right: 10px;
  padding-bottom: 8px;
}

.widget-esearch .search-params .params-container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 40px;
  bottom: 0;
  overflow-y: auto;
}

.widget-esearch .search-params table.current-view {
  width: auto;
  border-collapse: collapse;
  margin-top: 10px;
}

.widget-esearch .query-search table.current-view td {
  vertical-align: top;
  text-align: left;
}

.widget-esearch .search-params table.current-view .map-extent-tip {
  padding-left: 8px;
}


/* css for widget-esearch-single-parameter */

.widget-esearch-single-parameter .dijit-form-Select>tbody>tr>td {
  height: 23px;
}

.widget-esearch-single-parameter .dijit-form-Select>tbody>tr>td>.dijitButtonText {
  height: 20px;
  height: 20px !important;
}

.widget-esearch-single-parameter .dijit-form-FilteringSelect {
  display: none;
  width: 100%;
  height: 25px;
}

.widget-esearch-single-parameter .dijit-form-FilteringSelect>div.dijitArrowButton.dijitDownArrowButton {
  width: 20px;
  height: 100%;
}

.widget-esearch-single-parameter .dijit-form-FilteringSelect>div.dijitArrowButton.dijitDownArrowButton>input {
  padding: 0;
  border: 0;
  display: inline-block;
  height: 100%;
  height: 100% !important;
}

.widget-esearch-single-parameter .dijit-form-FilteringSelect>div.dijitInputField>input.dijitInputInner {
  height: 20px;
}

.widget-esearch-single-parameter .dijit-form-ValidationTextBox>div.dijitInputField>input.dijitInputInner {
  margin: 0;
  padding: 0;
  height: 100%;
  height: 100% !important;
}

.widget-esearch-single-parameter .dijit-form-NumberTextBox>div.dijitInputField>input.dijitInputInner {
  margin: 0;
  padding: 0;
  height: 100%;
  padding: 0 !important;
  height: 100% !important;
}

.widget-esearch-single-parameter .dijit-form-DateTextBox>.dijitRight {
  width: 17px;
  width: 17px !important;
}

.widget-esearch-single-parameter .dijit-form-DateTextBox>div.dijitInputField>input.dijitInputInner {
  margin: 0;
  padding: 0;
  height: 100%;
  padding: 0 !important;
  height: 100% !important;
}

.widget-esearch-single-parameter .dijitSelectLabel.dijitValidationTextBoxLabel {
  width: 52px;
  max-width: 52px;
  overflow: hidden;
  max-width: 52px !important;
  overflow: hidden !important;
}

.widget-esearch-single-parameter .prompt {
  font-size: 12px;
  color: #686868;
}

.widget-esearch-single-parameter .uniqueMessage {
  font-size: 12px;
  color: #686868;
  line-height: 16px;
  float: left;
}

.widget-esearch-single-parameter .uniqueBusy {
  width: 16px;
  height: 16px;
  background-image: url(images/validating.gif);
  float: left;
  margin-right: 7px;
}

.DartTheme .widget-esearch-single-parameter .uniqueBusy {
  width: 16px;
  height: 16px;
  background-image: url(images/validating2.gif);
  float: left;
  margin-right: 7px;
}

.widget-esearch-single-parameter .hint {
  font-style: italic;
  font-size: 12px;
  color: #8996a0;/*d9dde0*/
  margin-top: 5px;
}

.search-btn {
  cursor: pointer;
  min-width: 70px;
  display: inline-block;
  padding: 12px;
  font-size: 15px;
  text-align: center;
  /*background: none repeat scroll 0% 0% #528CC9;*/
  vertical-align: middle;
  color: #FFF;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/*Handle custom themes*/

.search-btn {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 1);
}

.search-btn:hover {
  background-color: rgb(0, 0, 0);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(0, 0, 0, 0.7);
}

.JewelryBoxTheme.default .jimu-on-screen-widget-panel > .jimu-panel-title,
.JewelryBoxTheme.default .search-btn,
.JewelryBoxTheme.default .jimu-draw-box .draw-item.jimu-state-active,
.FoldableTheme jimu-draw-box .draw-item.jimu-state-active,
.FoldableTheme .search-btn,
.FoldableTheme .esriPopup .titlePane,
.JewelryBoxTheme.default .esriPopup .titlePane  {
  background-color: rgb(89, 102, 121);
  background-color: rgba(89, 102, 121, 1);
}

.JewelryBoxTheme.default .search-btn:hover,
.FoldableTheme .search-btn:hover,
.JewelryBoxTheme.default .jimu-draw-box .draw-item:hover,
.FoldableTheme .jimu-draw-box .draw-item:hover {
  background-color: rgb(89, 102, 121);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(89, 102, 121, 0.7);
}

.TabTheme .search-btn,
.TabTheme .jimu-draw-box .draw-item.jimu-state-active,
.TabTheme .esriPopup .titlePane  {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 1);
}

.TabTheme .search-btn:hover,
.TabTheme .jimu-draw-box .draw-item:hover {
  background-color: rgb(0, 0, 0);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(0, 0, 0, 0.7);
}

.BoxTheme.default .search-btn,
.BoxTheme.default .jimu-draw-box .draw-item.jimu-state-active,
.BoxTheme.default .esriPopup .titlePane  {
  background-color: rgb(100, 100, 100);
  background-color: rgba(100, 100, 100, 1);
}

.BoxTheme.default .search-btn:hover,
.BoxTheme.default .jimu-draw-box .draw-item:hover {
  background-color: rgb(100, 100, 100);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(100, 100, 100, 0.7);
}

.BillboardTheme.blue .search-btn,
.BillboardTheme.default .search-btn,
.BillboardTheme.green .search-btn,
.BillboardTheme.orange .search-btn,
.BillboardTheme.pink .search-btn,
.BillboardTheme.purple .search-btn,
.BillboardTheme.red .search-btn,
.BillboardTheme.turquoise .search-btn,
.BillboardTheme.blue .jimu-draw-box .draw-item.jimu-state-active,
.BillboardTheme.default .jimu-draw-box .draw-item.jimu-state-active,
.BillboardTheme.green .jimu-draw-box .draw-item.jimu-state-active,
.BillboardTheme.orange .jimu-draw-box .draw-item.jimu-state-active,
.BillboardTheme.pink .jimu-draw-box .draw-item.jimu-state-active,
.BillboardTheme.purple .jimu-draw-box .draw-item.jimu-state-active,
.BillboardTheme.red .jimu-draw-box .draw-item.jimu-state-active,
.BillboardTheme.turquoise .jimu-draw-box .draw-item.jimu-state-active {
  background-color: rgb(217, 221, 224);
  color: #86909C;
}

.BillboardTheme.blue .search-btn:hover,
.BillboardTheme.default .search-btn:hover,
.BillboardTheme.green .search-btn:hover,
.BillboardTheme.orange .search-btn:hover,
.BillboardTheme.pink .search-btn:hover,
.BillboardTheme.purple .search-btn:hover,
.BillboardTheme.red .search-btn:hover,
.BillboardTheme.turquoise .search-btn:hover,
.BillboardTheme.blue .jimu-draw-box .draw-item:hover,
.BillboardTheme.default .jimu-draw-box .draw-item:hover,
.BillboardTheme.green .jimu-draw-box .draw-item:hover,
.BillboardTheme.orange .jimu-draw-box .draw-item:hover,
.BillboardTheme.pink .jimu-draw-box .draw-item:hover,
.BillboardTheme.purple .jimu-draw-box .draw-item:hover,
.BillboardTheme.red .jimu-draw-box .draw-item:hover,
.BillboardTheme.turquoise .jimu-draw-box .draw-item:hover {
  background-color: rgb(0, 0, 0);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.BillboardTheme.blue .esriPopup .titlePane,
.DartTheme.blue .esriPopup .titlePane{
  background-color: #2f70e4;
}

.BillboardTheme.default .esriPopup .titlePane{
  background-color: #2e3641;
}

.DartTheme.default .esriPopup .titlePane {
  background-color: #646464;
}

.BillboardTheme.green .esriPopup .titlePane{
  background-color: #6db8ac;
}

.DartTheme.green .esriPopup .titlePane {
  background-color: #80ab00;
}

.BillboardTheme.orange .esriPopup .titlePane{
  background-color: #edbd35;
}

.DartTheme.orange .esriPopup .titlePane {
  background-color: #ff9b00;
}

.BillboardTheme.pink .esriPopup .titlePane{
  background-color: #fe6960;
}

.DartTheme.pink .esriPopup .titlePane {
  background-color: #ed008c;
}

.BillboardTheme.purple .esriPopup .titlePane{
  background-color: #856d9c;
}

.DartTheme.purple .esriPopup .titlePane {
  background-color: #886197;
}

.BillboardTheme.red .esriPopup .titlePane{
  background-color: #e83428;
}

.DartTheme.red .esriPopup .titlePane {
  background-color: #cf0000;
}

.BillboardTheme.turquoise .esriPopup .titlePane{
  background-color: #2d95a0;
}

.DartTheme.turquoise .esriPopup .titlePane {
  background-color: #2faacd;
}

.FoldableTheme.default .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.default .search-btn,
.FoldableTheme.default .jimu-draw-box .draw-item.jimu-state-active,
.FoldableTheme.default .esriPopup .titlePane  {
  background-color: rgb(89, 102, 121);
  background-color: rgba(89, 102, 121, 1);
}

.FoldableTheme.default .search-btn:hover,
.FoldableTheme.default .jimu-draw-box .draw-item:hover {
  background-color: rgb(89, 102, 121);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(89, 102, 121, 0.7);
}

.JewelryBoxTheme.black .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.black .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.default .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.black .search-btn,
.TabTheme.default .search-btn,
.JewelryBoxTheme.black .search-btn,
.FoldableTheme.black .jimu-draw-box .draw-item.jimu-state-active,
.TabTheme.default .jimu-draw-box .draw-item.jimu-state-active,
.JewelryBoxTheme.black .jimu-draw-box .draw-item.jimu-state-active,
.FoldableTheme.black .esriPopup .titlePane,
.JewelryBoxTheme.black .esriPopup .titlePane,
.TabTheme.default .esriPopup .titlePane  {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 1);
}

.FoldableTheme.black .search-btn:hover,
.TabTheme.default .search-btn:hover,
.JewelryBoxTheme.black .search-btn:hover,
.FoldableTheme.black .jimu-draw-box .draw-item:hover,
.TabTheme.default .jimu-draw-box .draw-item:hover,
.JewelryBoxTheme.black .jimu-draw-box .draw-item:hover {
  background-color: rgb(0, 0, 0);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(0, 0, 0, 0.7);
}

.JewelryBoxTheme.cyan .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.cyan .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.cyan .search-btn,
.JewelryBoxTheme.cyan .search-btn,
.FoldableTheme.cyan .jimu-draw-box .draw-item.jimu-state-active,
.JewelryBoxTheme.cyan .jimu-draw-box .draw-item.jimu-state-active,
.JewelryBoxTheme.cyan .esriPopup .titlePane,
.FoldableTheme.cyan .esriPopup .titlePane  {
  background-color: rgb(38, 112, 48);
  background-color: rgba(38, 112, 48, 1);
}

.FoldableTheme.cyan .search-btn:hover,
.JewelryBoxTheme.cyan .search-btn:hover,
.FoldableTheme.cyan .jimu-draw-box .draw-item:hover,
.JewelryBoxTheme.cyan .jimu-draw-box .draw-item:hover {
  background-color: rga(38, 112, 48);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(38, 112, 48, 0.7);
}

.TabTheme.cyan .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.cyan .search-btn,
.TabTheme.cyan .jimu-draw-box .draw-item.jimu-state-active,
.TabTheme.cyan .esriPopup .titlePane  {
  background-color: rgb(42, 170, 138);
  background-color: rgba(42, 170, 138, 1);
}

.TabTheme.cyan .search-btn:hover,
.TabTheme.cyan .jimu-draw-box .draw-item:hover {
  background-color: rga(42, 170, 138);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(42, 170, 138, 0.7);
}

.TabTheme.green .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.green .search-btn,
.TabTheme.green .jimu-draw-box .draw-item.jimu-state-active,
.TabTheme.green .esriPopup .titlePane  {
  background-color: rgb(5, 171, 8);
  background-color: rgba(5, 171, 8, 1);
}

.TabTheme.green .search-btn:hover,
.TabTheme.green .jimu-draw-box .draw-item:hover {
  background-color: rgb(5, 171, 8);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(5, 171, 8, 0.7);
}

.BoxTheme.green .search-btn,
.BoxTheme.green .jimu-draw-box .draw-item.jimu-state-active,
.BoxTheme.green .esriPopup .titlePane  {
  background-color: rgb(128, 171, 0);
  background-color: rgba(128, 171, 0, 1);
}

.BoxTheme.green .search-btn:hover,
.BoxTheme.green .jimu-draw-box .draw-item:hover {
  background-color: rgb(128, 171, 0);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(128, 171, 0, 0.7);
}

.BoxTheme.orange .search-btn,
.BoxTheme.orange .jimu-draw-box .draw-item.jimu-state-active,
.BoxTheme.orange .esriPopup .titlePane {
  background-color: rgb(255, 155, 0);
  background-color: rgba(255, 155, 0, 1);
}

.BoxTheme.orange .search-btn:hover,
.BoxTheme.orange .jimu-draw-box .draw-item:hover {
  background-color: rgb(255, 155, 0);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(255, 155, 0, 0.7);
}

.JewelryBoxTheme.green .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.green .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.green .search-btn,
.JewelryBoxTheme.green .search-btn,
.FoldableTheme.green .jimu-draw-box .draw-item.jimu-state-active,
.JewelryBoxTheme.green .jimu-draw-box .draw-item.jimu-state-active,
.JewelryBoxTheme.green .esriPopup .titlePane,
.FoldableTheme.green .esriPopup .titlePane  {
  background-color: rgb(42, 170, 138);
  background-color: rgba(42, 170, 138, 1);
}

.FoldableTheme.green .search-btn:hover,
.JewelryBoxTheme.green .search-btn:hover,
.FoldableTheme.green .jimu-draw-box .draw-item:hover,
.JewelryBoxTheme.green .jimu-draw-box .draw-item:hover {
  background-color: rgb(42, 170, 138);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(42, 170, 138, 0.7);
}

.BoxTheme.turquoise .search-btn,
.BoxTheme.turquoise .jimu-draw-box .draw-item.jimu-state-active,
.BoxTheme.turquoise .esriPopup .titlePane  {
  background-color: rgb(47, 170, 205);
  background-color: rgba(47, 170, 205, 1);
}

.BoxTheme.turquoise .search-btn:hover,
.BoxTheme.turquoise .jimu-draw-box .draw-item:hover {
  background-color: rgb(47, 170, 205);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(47, 170, 205, 0.7);
}

.TabTheme.simpleblue .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.simpleblue .search-btn,
.TabTheme.simpleblue .jimu-draw-box .draw-item.jimu-state-active,
.TabTheme.simpleblue .esriPopup .titlePane  {
  background-color: rgb(52, 152, 219);
  background-color: rgba(52, 152, 219, 1);
}

.TabTheme.simpleblue .search-btn:hover,
.TabTheme.simpleblue .jimu-draw-box .draw-item:hover {
  background-color: rgb(52, 152, 219);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(52, 152, 219, 0.7);
}

.JewelryBoxTheme.red .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.red .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.red .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.red .search-btn,
.TabTheme.red .search-btn,
.JewelryBoxTheme.red .search-btn,
.FoldableTheme.red .jimu-draw-box .draw-item.jimu-state-active,
.TabTheme.red .jimu-draw-box .draw-item.jimu-state-active,
.JewelryBoxTheme.red .jimu-draw-box .draw-item.jimu-state-active,
.JewelryBoxTheme.red .esriPopup .titlePane,
.FoldableTheme.red .esriPopup .titlePane,
.TabTheme.red .esriPopup .titlePane  {
  background-color: rgb(201, 46, 73);
  background-color: rgba(201, 46, 73, 1);
}

.FoldableTheme.red .search-btn:hover,
.TabTheme.red .search-btn:hover,
.JewelryBoxTheme.red .search-btn:hover,
.FoldableTheme.red .jimu-draw-box .draw-item:hover,
.TabTheme.red .jimu-draw-box .draw-item:hover,
.JewelryBoxTheme.red .jimu-draw-box .draw-item:hover {
  background-color: rgb(201, 46, 73);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(201, 46, 73, 0.7);
}

.BoxTheme.red .search-btn,
.BoxTheme.red .jimu-draw-box .draw-item.jimu-state-active,
.BoxTheme.red .esriPopup .titlePane  {
  background-color: rgb(207, 0, 0);
  background-color: rgba(207, 0, 0, 1);
}

.BoxTheme.red .search-btn:hover,
.BoxTheme.red .jimu-draw-box .draw-item:hover {
  background-color: rgb(207, 0, 0);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(207, 0, 0, 0.7);
}

.BoxTheme.pink .search-btn,
.BoxTheme.pink .jimu-draw-box .draw-item.jimu-state-active,
.BoxTheme.pink .esriPopup .titlePane  {
  background-color: rgb(237, 0, 140);
  background-color: rgba(237, 0, 140, 1);
}

.BoxTheme.pink .search-btn:hover,
.BoxTheme.pink .jimu-draw-box .draw-item:hover {
  background-color: rgb(237, 0, 140);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(237, 0, 140, 0.7);
}

.JewelryBoxTheme.yellow .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.yellow .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.yellow .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.yellow .search-btn,
.TabTheme.yellow .search-btn,
.JewelryBoxTheme.yellow .search-btn,
.FoldableTheme.yellow .jimu-draw-box .draw-item.jimu-state-active,
.TabTheme.yellow .jimu-draw-box .draw-item.jimu-state-active,
.JewelryBoxTheme.yellow .jimu-draw-box .draw-item.jimu-state-active,
.JewelryBoxTheme.yellow .esriPopup .titlePane,
.FoldableTheme.yellow .esriPopup .titlePane,
.TabTheme.yellow .esriPopup .titlePane  {
  background-color: rgb(208, 125, 14);
  background-color: rgba(208, 125, 14, 1);
}

.FoldableTheme.yellow .search-btn:hover,
.TabTheme.yellow .search-btn:hover,
.JewelryBoxTheme.yellow .search-btn:hover,
.FoldableTheme.yellow .jimu-draw-box .draw-item:hover,
.TabTheme.yellow .jimu-draw-box .draw-item:hover,
.JewelryBoxTheme.yellow .jimu-draw-box .draw-item:hover {
  background-color: rgb(208, 125, 14);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(208, 125, 14, 0.7);
}

.JewelryBoxTheme.blue .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.blue .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.blue .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.blue .search-btn,
.TabTheme.blue .search-btn,
.JewelryBoxTheme.blue .search-btn,
.FoldableTheme.blue .jimu-draw-box .draw-item.jimu-state-active,
.TabTheme.blue .jimu-draw-box .draw-item.jimu-state-active,
.JewelryBoxTheme.blue .jimu-draw-box .draw-item.jimu-state-active,
.JewelryBoxTheme.blue .esriPopup .titlePane,
.FoldableTheme.blue .esriPopup .titlePane,
.TabTheme.blue .esriPopup .titlePane  {
  background-color: rgb(0, 95, 162);
  background-color: rgba(0, 95, 162, 1);
}

.FoldableTheme.blue .search-btn:hover,
.TabTheme.blue .search-btn:hover,
.JewelryBoxTheme.blue .search-btn:hover,
.FoldableTheme.blue .jimu-draw-box .draw-item:hover,
.TabTheme.blue .jimu-draw-box .draw-item:hover,
.JewelryBoxTheme.blue .jimu-draw-box .draw-item:hover {
  background-color: rgb(0, 95, 162);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(0, 95, 162, 0.7);
}

.BoxTheme.blue .search-btn,
.BoxTheme.blue .jimu-draw-box .draw-item.jimu-state-active,
.BoxTheme.blue .esriPopup .titlePane  {
  background-color: rgb(45, 112, 228);
  background-color: rgba(45, 112, 228, 1);
}

.BoxTheme.blue .search-btn:hover,
.BoxTheme.blue .jimu-draw-box .draw-item:hover {
  background-color: rgb(45, 112, 228);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(45, 112, 228, 0.7);
}

.JewelryBoxTheme.purple .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.purple .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.purple .jimu-on-screen-widget-panel > .jimu-panel-title,
.FoldableTheme.purple .search-btn,
.TabTheme.purple .search-btn,
.JewelryBoxTheme.purple .search-btn,
.FoldableTheme.purple .jimu-draw-box .draw-item.jimu-state-active,
.TabTheme.purple .jimu-draw-box .draw-item.jimu-state-active,
.JewelryBoxTheme.purple .jimu-draw-box .draw-item.jimu-state-active,
.JewelryBoxTheme.purple .esriPopup .titlePane,
.FoldableTheme.purple .esriPopup .titlePane,
.TabTheme.purple .esriPopup .titlePane  {
  background-color: rgb(171, 109, 174);
  background-color: rgba(171, 109, 174, 1);
}

.FoldableTheme.purple .search-btn:hover,
.TabTheme.purple .search-btn:hover,
.JewelryBoxTheme.purple .search-btn:hover,
.FoldableTheme.purple .jimu-draw-box .draw-item:hover,
.TabTheme.purple .jimu-draw-box .draw-item:hover,
.JewelryBoxTheme.purple .jimu-draw-box .draw-item:hover {
  background-color: rgb(171, 109, 174);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(171, 109, 174, 0.7);
}

.BoxTheme.purple .search-btn,
.BoxTheme.purple .jimu-draw-box .draw-item.jimu-state-active,
.BoxTheme.purple .esriPopup .titlePane  {
  background-color: rgb(136, 97, 151);
  background-color: rgba(136, 97, 151, 1);
}

.BoxTheme.purple .search-btn:hover,
.BoxTheme.purple .jimu-draw-box .draw-item:hover {
  background-color: rgb(136, 97, 151);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(136, 97, 151, 0.7);
}

.LaunchpadTheme.style2 .search-btn,
.LaunchpadTheme.default .search-btn,
.LaunchpadTheme.style2 .jimu-draw-box .draw-item.jimu-state-active,
.LaunchpadTheme.default .jimu-draw-box .draw-item.jimu-state-active,
.LaunchpadTheme.style2 .esriPopup .titlePane,
.LaunchpadTheme.default .esriPopup .titlePane  {
  background-color: rgb(51, 51, 51);
  background-color: rgba(51, 51, 51, 1);
}

.LaunchpadTheme.style2 .search-btn:hover,
.LaunchpadTheme.default .search-btn:hover,
.LaunchpadTheme.style2 .jimu-draw-box .draw-item:hover,
.LaunchpadTheme.default .jimu-draw-box .draw-item:hover {
  background-color: rgb(51, 51, 51);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(51, 51, 51, 0.7);
}

.jimu-draw-box .point-icon.jimu-state-active{
  background-image: url(images/draw_point.png);
}

.jimu-draw-box .line-icon.jimu-state-active{
  background-image: url(images/draw_line.png);
}

.jimu-draw-box .polyline-icon.jimu-state-active{
  background-image: url(images/draw_polyline.png);
}

.jimu-draw-box .freehand-polyline-icon.jimu-state-active{
  background-image: url(images/draw_freehand_polyline.png);
}

.jimu-draw-box .triangle-icon.jimu-state-active{
  background-image: url(images/draw_triangle.png);
}

.jimu-draw-box .extent-icon.jimu-state-active{
  background-image: url(images/draw_extent.png);
}

.jimu-draw-box .circle-icon.jimu-state-active{
  background-image: url(images/draw_circle.png);
}

.jimu-draw-box .ellipse-icon.jimu-state-active{
  background-image: url(images/draw_ellipse.png);
}

.jimu-draw-box .polygon-icon.jimu-state-active{
  background-image: url(images/draw_polygon.png);
}

.jimu-draw-box .freehand-polygon-icon.jimu-state-active{
  background-image: url(images/draw_freehand_polygon.png);
}

.LaunchpadTheme .jimu-draw-box .draw-item:hover {
  color: #fff;
}

div.dijitArrowButton {
  float: right;
  height: 100%;
}

.dijitValidationTextBoxError input.dijitValidationInner,
.dijitSelect input,
.dijitTextBox input.dijitArrowButtonInner {
  text-indent: -2em !important;
  direction: ltr !important;
  text-align: left !important;
  height: 100% !important;
}

.jimu-draw-box .draw-item:hover {
  background-color: unset;
}

.jimu-draw-box .draw-item.selected {
  background-color: #C0C0C0;
}

.jimu-checkbox .label {
  font-size: 12px;
  margin: auto 5px;
  cursor: default;
}

/*Fixes for DartTheme list colors*/
.DartTheme .widget-esearch {
  width: 98%;
}

.DartTheme .search-list-item.alt {
  background-color: #646464;
}

.DartTheme .search-list-item.selected {
  background-color: #959595;
}

.DartTheme .search-list-item.selected.alt {
  background-color: #d9dde0;
}

.DartTheme .search-list-item:hover {
  background-color: #555555;
}

.DartTheme .search-list-item.alt:hover {
  background-color: #555555;
}

.DartTheme .search-list-item.selected:hover {
  background-color: #555555;
}

.DartTheme .search-list-item.selected.alt:hover {
  background-color: #555555;
}

/*Fixes for Launchpad theme*/
.LaunchpadTheme .widget-esearch-single-parameter .dijit-form-FilteringSelect > div.dijitArrowButton.dijitDownArrowButton {
  width: 30px;
  height: 100%;
}

.LaunchpadTheme .widget-esearch-single-parameter .dijit-form-FilteringSelect {
  display: none;
  width: 100%;
  height: 32px;
}

.LaunchpadTheme .jimu-draw-box .draw-item{
  cursor: default;
}

/*Fixes for Tab container text overflow in the DartTheme*/
.widget-esearch.jimu-widget > .jimu-tab > .control > .tab.jimu-vcenter-text{
  overflow-x: hidden;
  line-height: 28px !important;
}

.jimu-draw-box .elocate-icon{
  background-image: url(images/draw_elocate1.png);
}

.jimu-draw-box .elocate-icon.jimu-state-active{
  background-image: url(images/draw_elocate.png);
}

.LaunchpadTheme .jimu-draw-box .elocate-icon{
  background-image: url(images/draw_elocate_lp1.png);
}

.LaunchpadTheme .jimu-draw-box .elocate-icon:hover{
  background-image: url(images/draw_elocate_lp.png);
}

.newSelIcon {
  background-image: url('images/selection_new.png');
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.addSelIcon {
  background-image: url('images/selection_add.png');
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.removeSelIcon {
  background-image: url('images/selection_remove.png');
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.selectionmenu {
  margin: 10px 0 0;
}

.selectionmenu > .dijitReset.dijitInline.dijitButtonNode {
  background-image: unset;
  border-radius: unset;
  background-color: #EFEFF0;
  padding: 6px 4px 6px;
  border: 1px solid #B5BCC7;
  box-shadow: unset;
}

.LaunchpadTheme .widget-esearch .esearch-select {
  width: 75%;
}

.DartTheme .widget-esearch .esearch-select,
.BoxTheme .widget-esearch .esearch-select{
  width: 80%;
}

.LaunchpadTheme .selectionmenu > .dijitReset.dijitInline.dijitButtonNode {
  background-image: unset;
  border-radius: unset;
  background-color: unset;
  padding: 5px 0 4px 0;
  border: 1px solid #DDD;
  box-shadow: unset;
}

.DartTheme .selectionmenu > .dijitReset.dijitInline.dijitButtonNode {
  background-image: unset;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 6px 4px;
  border: 1px solid rgba(181, 188, 199, 0.86) !important;
  box-shadow: unset;
}

.claro .DartTheme .dijitDateTextBox .dijitArrowButton::before {
  content: none !important;
}

.claro .DartTheme .dijitSelect .dijitArrowButtonInner,
.claro .DartTheme .dijitComboBox .dijitArrowButtonInner {
  display: none
}
