.widget-esearch{
  position:relative;
  width:100%;
  height:100%;
  min-width:265px;
  min-height:279px;
}

.widget-esearch>.jimu-tab>.control{
  margin:-14px -14px 0 -14px;
}

.widget-esearch>.jimu-tab>.jimu-viewstack{
  position: absolute !important;
  top:45px !important;
  left:0 !important;
  right:0 !important;
  bottom:0 !important;
  height: auto;
  margin-bottom:-14px;
}

.widget-esearch .search-tab-node{
  position:absolute !important;
  width:100% !important;
  height:auto !important;
  top:0 !important;
  bottom:0 !important;
}

.widget-esearch .search-tab-node-hidden{
  position:absolute !important;
  width:100% !important;
  height:auto !important;
  top:0 !important;
  bottom:0 !important;
  display: none;
}

.widget-esearch .option-div{
  font-size:14px;
  padding-left:10px;
  height: 16px;
}

.widget-esearch .btn-grasearch{
  margin-left: auto;
  margin-right: auto;
  padding: 6px 12px;
}

.widget-esearch .dijitArrowButtonContainer{
  width: 30px;
}

.widget-esearch .dijitSelect{
  height: 30px;
  width: 100%;
}

.widget-esearch .searchFeaturesIcon{
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  text-align: center;
  float: left;
  margin: 10px 11px 12px 11px;
}

.widget-esearch .searchFeaturesIcon:hover{
  background-color: #C0C0C0;
}

.widget-esearch .contain-icon {
  background-image: url("images/contain.png");
}

.widget-esearch .intersect-icon {
  background-image: url("images/intersect.png");
}

.widget-esearch .envintersects-icon {
  background-image: url("images/envintersects.png");
}

.widget-esearch .within-icon {
  background-image: url("images/within.png");
}

.widget-esearch .touches-icon {
  background-image: url("images/touches.png");
}

.widget-esearch .overlaps-icon {
  background-image: url("images/overlaps.png");
}

.widget-esearch .indexintersects-icon {
  background-image: url("images/index.png");
}

.widget-esearch .crosses-icon {
  background-image: url("images/crosses.png");
}

.widget-esearch .hcenter{
  margin-left: auto;
  width: 100%;
  height: 40px;
}

.widget-esearch .spatial-items{
  display: table;
  margin: 0px auto;
  height: 40px;
}

.widget-esearch .spatial-items .spatial-item {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0 4px;
  float: left;
}

.widget-esearch .spatial-item.selected,.widget-esearch .spatial-item:hover{
  background-color: #C0C0C0;
}

.widget-esearch .buffer-icon {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  text-align: center;
  float: left;
  margin: 7px;
  background-image: url("images/buffer.png");
  cursor: pointer;
}

.widget-esearch .buffer-icon:hover{
  background-color: #C0C0C0;
}

.TabTheme .widget-esearch .jimu-tab>.control>.tab.jimu-state-selected{
  border-top: 0;
}

.search-valign-ele{
  line-height: 47px;
}

/*used for the controller List*/
.search-list-container{
  min-width: 100%;
  height: 100%;
  vertical-align: middle;
  float: left;
  position: relative;
}
.search-list-item{
  line-height: 30px;
  font-size: 12px;
  white-space: pre;
  position: relative;
}
.search-list-item .label{
  padding-left: 40px;
  padding-right: 10px;
  padding-bottom: 3px;
  cursor:default;
}
.search-list-item .iconDiv{
  text-align: center;
  position: absolute;
  height: 100%;
  left: 0;
}
.search-list-item .linksdiv{
  text-align: center;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.search-list-item .linkIcon{
  display: inline-block;
}
.search-list-item .iconDiv:before{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
.search-list-item .iconDiv svg{
  display: inline-block;
  vertical-align: middle;
}
.search-list-item.alt{
  background-color: #ebebeb;
}
.search-list-item.selected{
  background-color: #d9dde0;
}
.search-list-item.selected.alt{
  background-color: #d9dde0;
}
.search-list-item:hover{
  background-color: #dcdcdc;
}
.search-list-item.alt:hover{
  background-color: #dcdcdc;
}
.search-list-item.selected:hover{
  background-color: #d9dde0;
}
.search-list-item.selected.alt:hover{
  background-color: #d9dde0;
}
/* css for search-params */
/*.widget-esearch .search-params{
  left: 100%;
}

.widget-esearch .search-params .search-params-head{
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.widget-esearch .search-params .search-params-head .params-title{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 14px;
  color: #86909c;
}

.widget-esearch .search-params .search-params-head .operations{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.widget-esearch .search-params .search-params-head .operations .search-back{
  float: left;
  text-align: left;
  color: blue;
  cursor: pointer;
  height: 100%;
}

.widget-esearch .search-params .search-params-head .operations .params-back .back-icon{
  float: left;
  width: 8px;
  height: 100%;
  background:no-repeat no-repeat center center url(images/arrow_left.png);
  margin-right: 5px;
}

.widget-esearch .search-params .search-params-head .operations .params-back .back-tip{
  float: left;
  height: 100%;
  color: #51b1fe;
  text-decoration: underline;
}

.widget-esearch .search-params .search-params-head .operations .apply{
  float: right;
  text-align: right;
  color: blue;
  cursor: pointer;
  height: 100%;
  color: #51b1fe;
  text-decoration: underline;
}*/

.widget-esearch .esearch-list {
  position:absolute;
  width:100%;
  height:auto;
  left:0;
  right:0;
  top:50px;
  bottom:0;
  overflow-x:auto;
  overflow-y:auto;
}

.widget-esearch .select-layer-spatial {
  width:96%;
  margin-top:10px;
  margin-bottom:10px;
}

.widget-esearch .esearch-select {
  width:96%;
  margin-top:10px;
}

.widget-esearch .button-clear-graphical{
  float:right;
  margin-right:10px;
  padding-bottom:8px;
}

.widget-esearch .search-params .params-container{
  position: absolute;
  width: 100%;
  left: 0;
  top: 40px;
  bottom: 0;
  overflow-y: auto;
}

.widget-esearch .search-params table.current-view{
  width: auto;
  border-collapse: collapse;
  margin-top: 10px;
}

.widget-esearch .query-search table.current-view td{
  vertical-align: top;
  text-align: left;
}

.widget-esearch .search-params table.current-view .map-extent-tip{
  padding-left: 8px;
}

/* css for widget-esearch-single-parameter */
.widget-esearch-single-parameter .dijit-form-Select>tbody>tr>td{
  height: 23px;
}

.widget-esearch-single-parameter .dijit-form-Select>tbody>tr>td>.dijitButtonText{
  height: 20px;
  height: 20px !important;
}

.widget-esearch-single-parameter .dijit-form-FilteringSelect>div.dijitArrowButton.dijitDownArrowButton{
  width:20px;
  height: 100%;
}

.widget-esearch-single-parameter .dijit-form-FilteringSelect>div.dijitArrowButton.dijitDownArrowButton>input{
  padding: 0;
  border: 0;
  display: inline-block;
  height: 100%;
  height: 100% !important;
}

.widget-esearch-single-parameter .dijit-form-FilteringSelect>div.dijitInputField>input.dijitInputInner{
  height: 20px;
}

.widget-esearch-single-parameter .dijit-form-ValidationTextBox>div.dijitInputField>input.dijitInputInner{
  margin: 0;
  padding:0;
  height: 100%;
  height: 100% !important;
}

.widget-esearch-single-parameter .dijit-form-NumberTextBox>div.dijitInputField>input.dijitInputInner{
  margin: 0;
  padding: 0;
  height: 100%;
  padding:0 !important;
  height: 100% !important;
}

.widget-esearch-single-parameter .dijit-form-DateTextBox>.dijitRight{
  width:17px;
  width:17px !important;
}

.widget-esearch-single-parameter .dijit-form-DateTextBox>div.dijitInputField>input.dijitInputInner{
  margin: 0;
  padding: 0;
  height: 100%;
  padding:0 !important;
  height: 100% !important;
}

.widget-esearch-single-parameter .dijitSelectLabel.dijitValidationTextBoxLabel{
  width:52px;
  max-width:52px;
  overflow:hidden;
  max-width:52px !important;
  overflow:hidden !important;
}

.widget-esearch-single-parameter .prompt{
  font-size: 12px;
  color: #686868;
}

.widget-esearch-single-parameter .hint{
  font-style: italic;
  font-size: 12px;
  color: #d9dde0;
  margin-top: 5px;
}

.search-btn {
  cursor: pointer;
  min-width: 70px;
  display: inline-block;
  padding: 12px;
  font-size: 15px;
  text-align: center;
  /*background: none repeat scroll 0% 0% #528CC9;*/
  vertical-align: middle;
  color: #FFF;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.FoldableTheme.default .search-btn {
  background-color: rgba(89, 102, 121, 1);
}

.FoldableTheme.default .search-btn:hover {
  background-color: rgba(89, 102, 121, 0.7);
}

.FoldableTheme.black .search-btn,
.TabTheme.default .search-btn {
  background-color: rgba(0, 0, 0, 1);
}

.FoldableTheme.black .search-btn:hover,
.TabTheme.default .search-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.FoldableTheme.cyan .search-btn {
  background-color: rgba(177, 211, 212, 1);
}

.FoldableTheme.cyan .search-btn:hover {
  background-color: rgba(177, 211, 212, 0.7);
}

.FoldableTheme.green .search-btn {
  background-color: rgba(42, 170, 138, 1);
}

.FoldableTheme.green .search-btn:hover {
  background-color: rgba(42, 170, 138, 0.7);
}

.TabTheme.simpleblue .search-btn {
  background-color: rgba(52, 152, 219, 1);
}

.TabTheme.simpleblue .search-btn:hover {
  background-color: rgba(52, 152, 219, 0.7);
}

.FoldableTheme.red .search-btn,
.TabTheme.red .search-btn {
  background-color: rgba(201, 46, 73, 1);
}

.FoldableTheme.red .search-btn:hover,
.TabTheme.red .search-btn:hover {
  background-color: rgba(201, 46, 73, 0.7);
}

.FoldableTheme.purple .search-btn,
.TabTheme.purple .search-btn {
  background-color: rgba(171, 109, 174, 1);
}

.FoldableTheme.purple .search-btn:hover,
.TabTheme.purple .search-btn:hover {
  background-color: rgba(171, 109, 174, 0.7);
}

/*Handle custom themes*/
.FoldableTheme .search-btn {
  background-color: rgba(89, 102, 121, 1);
}

.FoldableTheme .search-btn:hover {
  background-color: rgba(89, 102, 121, 0.7);
}

.TabTheme .search-btn {
  background-color: rgba(0, 0, 0, 1);
}

.TabTheme .search-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
