.drs-widget-dashboard{
  position: relative;
  width:100%;
  height:100%;
  min-width:270px;
  min-height:330px;
}

.drs-widget-dashboard .chart-content{
  position: relative;
  width:100%;
  height:100%;
}

.drs-widget-dashboard .chart-tab-node{
  position: absolute !important;
  width: 100% !important;
  height: auto !important;
  top:0 !important;
  bottom: 0 !important;
}


.drs-widget-dashboard>.jimu-tab>.control{
  margin:-14px -14px 0 -14px;
}

.drs-widget-dashboard>.jimu-tab>.jimu-viewstack{
  position: absolute !important;
  top: 45px !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  height: auto !important;
  margin-bottom:-14px;
}

.drs-widget-dashboard .results-section{
  width:100%;
}

.drs-widget-dashboard .noresults-section{
  width:100%;
}

.drs-widget-dashboard .results-header{
  width:100%;
  height:30px;
}

.drs-widget-dashboard .chart-title{
  float:left;
  height:100%;
}
.drs-widget-dashboard .paging-section ul{
  margin:0;
  padding:0;
  height:100%;
  list-style:none;
}

.drs-widget-dashboard .paging-section ul li{
  float:left;
  height:100%;
}

.drs-widget-dashboard .paging-section ul li a{
  display: block;
  width:5px;
  height:100%;
  padding:0 5px;
  margin-left:10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image:url(../images/dot1.png);
  cursor:pointer;
}

.drs-widget-dashboard .paging-section ul li a:hover,.drs-widget-dashboard .paging-section ul li.selected a{
  background-image:url(../images/dot2.png);
}

.drs-widget-dashboard .chart-section{
  position:relative;
  width:100%;
  height:280px;
}

.drs-widget-dashboard .chart-section .chart-section-item{
  position:absolute;
  height:100%;
  top:0;
}
.drs-widget-dashboard .TabTheme  .jimu-tab>.control>.tab.jimu-state-selected{
  border-top: 0;
}

.drs-widget-dashboard input[type="radio"] {
  margin-right: 10;
  margin-bottom: 20;
  margin-left: 20;
}

#filterContainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

#filterContainer li { 
  margin: 0 0 .2em 0;
  border-bottom: 1px solid #eef2f5;
  font-size: 13px;
  
 }

#filterContainer a
{
  display: block;
  padding: 2px 4px;
  margin: -1px 0 0 0px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #7989a0;
}

#filterContainer a:hover 
{
  /*background-color: #EEEEEE;*/
  width: 100%;
  height: 100%;
}

#filterContainer li a.current {
  /*background-color: #e2f6ff;*/
  background-color: #d3d3d3;
  padding: 2px 4px;
  margin: -1px 0 0 0px;
  width: 100%;
  height: 100%;
  /*border-left: 6px solid #15a4fa;*/
}

#filterContainer li a.current:hover {
/*background-color: #d9dde0;*/
}

#filterContainer li.selected a:active {
 background: #e2f6ff !important;
}

.drs-widget-dashboard .spatialFilterLabel{
  margin: 6px 4px;
}

.drs-widget-dashboard .sectionHeading{
  margin: 5px 0px;
  font-weight: bold;
  color: #82878B;
  border-bottom:1px solid #D4E5F7;
}

.drs-widget-dashboard .radioButtonLabel{
  margin:6px 5px !important;
}
.drs-widget-dashboard body {
font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
}

.drs-widget-dashboard .chart-section {
  margin-top: -11px;
}
.drs-widget-dashboard .mainChartContainer{
  direction: ltr;
}
.drs-widget-dashboard .chart-section .chart-container {
  margin: 0 auto;
  width: 78%;
}
.drs-widget-dashboard .paging-section {
  float: right;
  height: 100%;
}
[dir=rtl] .drs-widget-dashboard .paging-section {
  float: left;
  height: 100%;
}
.drs-widget-dashboard .trimContent {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
    width: inherit;
}