/* widget-identify-setting */
.widget-identify-setting{
  margin:0;
  padding:0;
  font-size:15px;
  color:#6f7e95;
}

.widget-identify-setting .setting-table{
  width: 100%;
}

.widget-identify-setting .setting-table > thead > tr > th,
.widget-identify-setting .setting-table > tbody > tr > td{
  height:40px;
  line-height:40px;
  vertical-align:middle;
}

.widget-identify-setting .setting-table > tbody > tr > .first{
  width:200px;
  text-align: right;
  padding-right:15px;
  nowrap;
}

.widget-identify-setting .setting-table > tbody > tr > .second,
.reverse-proxy-edit > tbody > tr > .second{
  width:auto;
}

.widget-identify-setting .btn-add-section,
.widget-identify-setting .btn-sym-section{
  display:inline-block;
  overflow:hidden;
  height:24px;
  margin-left:1px;
  margin-bottom:3px;
  cursor:pointer;
  font-size:13px;
  color:#6f7e95;
}

.widget-identify-setting .only-these{
  display:inline-block;
  overflow:hidden;
  height:24px;
  margin-left:1px;
  margin-bottom:3px;
  font-size:13px;
}

.widget-identify-setting .btn-add-section .btn-add-icon {
  float:left;
  height:100%;
  width:14px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/add_enable.png);
}

.widget-identify-setting .btn-sym-section .btn-edit-icon {
  float:left;
  height:100%;
  width:14px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/edit_enabled.png);
}

.widget-identify-setting .btn-add-section .btn-add-label,
.widget-identify-setting .btn-sym-section .btn-edit-label{
  float:left;
  height:100%;
  line-height:24px;
  vertical-align:middle;
  margin-left:7px;
  text-decoration: underline;
}

.widget-identify-setting .line-table,
.widget-identify-setting .poly-table {
  margin-left: 12px;
}

.symbology-edit .help-icon,
.link-edit .help-icon {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  background: none repeat scroll 0% 0% #518DCA;
  color: #FFF;
  border-radius:99px;
  -moz-border-radius:99px;
  -webkit-border-radius:99px;
  /*-webkit-box-shadow: 0px 2px 4px #000000;
  -moz-box-shadow: 0px 2px 4px #000000;
  box-shadow: 0px 2px 4px #000000;*/
  font-weight:bold;
}

.symbology-edit .help-icon:hover,
.link-edit .help-icon:hover {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  background: none repeat scroll 0% 0% #15a4fa;
  color: #FFF;
  border-radius:99px;
  -moz-border-radius:99px;
  -webkit-border-radius:99px;
  /*-webkit-box-shadow: 0px 2px 4px #000000;
  -moz-box-shadow: 0px 2px 4px #000000;
  box-shadow: 0px 2px 4px #000000;*/
  font-weight:bold;
}

/* symbology-edit */
.symbology-edit .input-table{
  width:100%;
}

.symbology-edit .input-table > tbody > tr > td{
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  padding:4px 0;
}

.symbology-edit {
  margin:0;
  padding:0;
  font-size:15px;
}

.symbology-edit .image-config-layout {
  width: 100%;
}

.symbology-edit .popup-config-layout .keyValues {
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.symbology-edit .input-table .img-chooser{
  width: 100px;
  height: 67px;
}

/* identify-layer-edit */
.identify-layer-edit .input-table,
.exclude-layer-edit .input-table{
  width:100%;
}

.identify-layer-edit .input-table > tbody > tr > td,
.exclude-layer-edit .input-table > tbody > tr > td{
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  padding:4px 0;
}

/***CSS for IncludeAllButton dijit***/
.widgets-identify-setting-include-all-button{
  position:relative;
  display: inline-block;
  background:#8c8c8c;
  padding:5px 18px 5px 10px;
  color:white;
  border-radius:3px;
  cursor: pointer;
}

.widgets-identify-setting-include-all-button.enable{
  background: #528cc9;
}

.widgets-identify-setting-include-all-button.enable:hover{
  background: #15a4fa;
}

.widgets-identify-setting-include-all-button .include-arrow{
  position:absolute;
  right:4px;
  top:45%;
  width:0;
  height:0;
  border-top:3px solid transparent;
  border-bottom:3px solid transparent;
  border-left:5px solid white;
}

/***CSS for IncludeButton dijit***/
.widgets-identify-setting-include-button{
  position:relative;
  display: inline-block;
  background:#8c8c8c;
  padding:5px 18px 5px 10px;
  color:white;
  border-radius:3px;
  cursor: pointer;
}

.widgets-identify-setting-include-button.enable{
  background: #528cc9;
}

.widgets-identify-setting-include-button.enable:hover{
  background: #15a4fa;
}

.widgets-identify-setting-include-button .include-arrow{
  position:absolute;
  right:4px;
  top:45%;
  width:0;
  height:0;
  border-top:3px solid transparent;
  border-bottom:3px solid transparent;
  border-left:5px solid white;
}

.identify-layer-edit .btn-add-section .btn-add-icon{
  float:left;
  height:100%;
  width:14px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/add_enable.png);
}

.identify-layer-edit .btn-add-section .btn-add-label{
  float:left;
  height:100%;
  line-height:24px;
  vertical-align:middle;
  margin-left:7px;
  text-decoration: underline;
}

.identify-layer-edit .btn-add-section {
    display: inline-block;
    overflow: hidden;
    height: 24px;
    margin-left: 1px;
    margin-bottom: 3px;
    cursor: pointer;
    font-size: 13px;
    color: #6f7e95;
}

.link-edit .add-field-button>.add-field-icon-btn:hover{
  cursor: pointer;
  display: inline-block;
  padding: 0 15px;
  font-size: 14px;
  line-height: 33px;
  text-align: center;
  background: none repeat scroll 0% 0% #15a4fa;
  vertical-align: middle;
  color: #FFF;
  border-radius: 5px;
  width:40px;
  height:28px;
  margin-left:5px;
}
.link-edit .add-field-button>.drop-menu{
  position: absolute;
  border: 1px solid #999999;
  background-color: #ffffff;
  overflow-y: auto;
}
.link-edit .add-field-button .menu-item{
  height: 25px;
  min-width: 50px;
  margin: 0;
  padding: 0 5px;
  cursor: pointer;
  font-size: 10;
  white-space: nowrap;
}
.link-edit .add-field-button .menu-item:hover{
  color: #000000;
  background-color: #cae7ff;
  text-decoration:none;
}
.link-edit .add-field-button .menu-item-line{
  border: 1px solid #ffffff;
  margin: 0px;
}

.link-edit .input-table textarea {
  resize: none;
}

.link-edit .input-table{
  width:100%;
}

.link-edit .input-table > tbody > tr > td{
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  padding:4px 0;
}

.link-edit .plus-sign {
  background:white;
  width:4px;
  height:12px;
  position:relative;
  margin-left:4px;
}

.link-edit .plus-sign:before {
  background:white;
  content:"";
  width:12px;
  height:4px;
  position:absolute;
  top:4px;
  left:-4px;
}

.link-edit .jimu-dropmenu{
  overflow: visible;
  padding 0 0 0 0;
}

.link-edit .add-field-button>.add-field-icon-btn{
  cursor: pointer;
  display: inline-block;
  padding: 0 15px;
  font-size: 14px;
  line-height: 33px;
  text-align: center;
  background: none repeat scroll 0% 0% #518DCA;
  vertical-align: middle;
  color: #FFF;
  border-radius: 5px;
  width:40px;
  height:28px;
  margin-left:5px;
}

.identify-layer-edit .error-message-div,
.exclude-layer-edit .error-message-div {
  border: 0px solid;
  font-size: 11px;
  color: red;
  margin-left: 126px;
}
