.dtc-ImageSelect .head2 {
    font-size: 1.4em;
	font-weight:bold;
	text-align:center;
	display:block;
	padding-top:2px;
	padding-bottom:5px;
}

.dtc-ImageSelect .selectbox {
    width: 95%;
    margin: 5px;
}