@import url("../ElevationProfile/css/style.css");

.jimu-widget-elevationprofiletable {
    z-index: 101; /*above map's attribute*/
}

.jimu-widget-elevationprofiletable-main .tabStripButton {
    height: 24px !important;
}

.jimu-widget-elevationprofiletable, .jimu-widget-elevationprofiletable-main {
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    background-color: #efefef;
}

.jimu-widget-elevationprofiletable-main {
    overflow: hidden;
    background-color: white;
}

.jimu-widget-elevationprofiletable-move {
    width: 100%;
    height: 5px;
    top: 0px;
}

.jimu-widget-elevationprofiletable-move:hover {
    cursor: n-resize;
}

.jimu-widget-elevationprofiletable-indicate-vertical {
    width: 2px;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.jimu-widget-elevationprofiletable-indicate-horizontal {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.jimu-widget-elevationprofiletable-bar {
    width: 63px;
    height: 17px;
    left: 40%;
    top: -19px;
    position: absolute;
    background-color: #efefef;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat;
}

.jimu-widget-elevationprofiletable-bar:hover {
    background-color: #bfbfbf;
}

.jimu-widget-elevationprofiletable-bar.open {
    background-image: url(images/arrow_down.png);
    border: none;
    top: -17px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.jimu-widget-elevationprofiletable-bar.close {
    background-image: url(images/arrow_up.png)
}

.jimu-widget-elevationprofiletable-arrowImage {
    width: 30px;
    height: 30px;
    left: 48%;
    top: -30px;
    position: absolute;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: ns-resize;
    background-color: rgba(0, 0, 0, 0.8);
}

.dijitTabPaneWrapper .dijitTabContainerTop-container .dijitAlignCenter {
    height: 100%;
}

.jimu-widget-elevationprofiletable .esriAttributeTable {
    width: 100%;
    height: 100%;
    position: relative;
}

.jimu-widget-elevationprofiletable .esriAttributeTableToolbar {
    width: 100%;
    height: 30px;
    left: 0px;
    top: 0px;
    z-index: 100;
    position: relative;
}

.jimu-widget-elevationprofiletable .dgrid-sortable {
    font-weight: bold;
}

.jimu-widget-elevationprofiletable .dgrid-cell {
    border-right: solid 1px #ccc;
    width: 100px;
}

.jimu-rtl .jimu-widget-elevationprofiletable .dgrid-cell {
    text-align: right;
}

.jimu-widget-elevationprofiletable .dgrid-header {
    overflow: hidden;
    background-color: #eee;
    height: 20px;
}

.jimu-widget-elevationprofiletable .dgrid-scroller {
    margin-top: 22px !important;
}

.jimu-widget-elevationprofiletable .dgrid-cell a {
    color: #21759B;
    text-decoration: none;
}

.jimu-widget-elevationprofiletable .dgrid-cell a:hover, a:active {
    text-decoration: underline;
}

.jimu-widget-elevationprofiletable .dgrid-status {
    white-space: pre;
}

.jimu-rtl .dgrid-hider-menu-check {
    right: 2px;
    left: auto;
}

.jimu-rtl .dgrid-hider-menu-label {
    padding-left: 0;
    padding-right: 20px;
}

.jimu-rtl .jimu-widget-elevationprofiletable .dgrid-pagination .dgrid-status {
    float: right !important;
}

.jimu-rtl .dgrid-pagination .dgrid-navigation,
.jimu-rtl .dgrid-pagination .dgrid-page-size {
    float: left !important;
}

.esriAttributeTableExportImage {
    background-image: url("../images/export.png");
    width: 13px;
    height: 13px;
}

.esriAttributeTableZoomImage {
    background-image: url("../images/zoom.png");
    width: 13px;
    height: 13px;
}

.esriAttributeTableSelectAllImage {
    background-image: url("../images/select.png");
    width: 13px;
    height: 13px;
}

.esriAttributeTableSelectPageImage {
    background-image: url("../images/page.png");
    width: 13px;
    height: 13px;
}

.esriAttributeTableClearImage {
    background-image: url("../images/clear.png");
    width: 13px;
    height: 13px;
}

.esriAttributeTableOptionsImage {
    background-image: url("../images/more.png");
    width: 13px;
    height: 13px;
}

.esriAttributeTableRefreshImage {
    background-image: url("../images/refresh.png");
    width: 13px;
    height: 13px;
}

.esriAttributeTableSymbolImage {
    background-image: url("../images/symbol.png");
    width: 13px;
    height: 13px;
}

.esriAttributeTableCloseImage {
    background-image: url("../images/close.png");
    width: 13px;
    height: 13px;
}

.esriAttributeTableColumnsImage {
    background-image: url("../images/columns.png");
    width: 13px;
    height: 13px;
}