.solutions-widget-batcheditor-setting{
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.solutions-widget-batcheditor-setting .dijitArrowButtonContainer{
  width: 17px;
}

.solutions-widget-batcheditor-setting .dijitSelect{
  height: 30px;
  width: 100%;
}
.solutions-widget-batcheditor-setting .editable{
  width: 100px;
}
.solutions-widget-batcheditor-setting .symbolselector{
  width: 140px;
}
.hide {
  display: none;
}

/*Shared Page*/
.settings-heading{
  font-size: 1.35em;
  margin-top: 15px;
}
.settings-description {
  font-size: 1.1em;
  margin-top: 15px;
}
.settings-error {
  font-size: 1.1em;
  color: orangered;
}
/*Navigation Buttons*/
.solutions-widget-batcheditor-setting .settings-navigation-table > tbody > tr > .controls{
  width:100%;
}
.solutions-widget-batcheditor-setting .settings-navigation-table > tbody > tr > td{
 
  vertical-align:middle;
  font-size: 1em;
}

/*Page 1*/
.solutions-widget-batcheditor-setting .setting-tool-table{
  margin:15px; 
  padding-right:15px;
  outline: #000000 solid thin;
}
.solutions-widget-batcheditor-setting .setting-tool-table > tbody > tr > .controls{
  width:100%;
}
.solutions-widget-batcheditor-setting .setting-tool-table > tbody > tr > td > span{
  margin-left: 20px;
}
.solutions-widget-batcheditor-setting .setting-tool-table > tbody > tr > td > input{
  margin-left: 5px
}
.solutions-widget-batcheditor-setting  .setting-tool-table > thead > tr > th,
.solutions-widget-batcheditor-setting  .setting-tool-table > tbody > tr > td{
  height:40px;
  line-height:40px;
  vertical-align:middle;
  font-size: 1em;
}

/*Page 2*/
.solutions-widget-batcheditor-setting .setting-layer-table{
  margin:15px; 
  padding-right:15px;
 
}

/*Page 3*/
.solutions-widget-batcheditor-setting .setting-common-fields-table{
  margin:15px; 
  padding-right:15px;
}
