
/*Shared Page*/
.solutions-widget-geolookup-setting .settings-heading {
    font-size: 1.35em;
    margin-top: 15px;
}

.solutions-widget-geolookup-setting .settings-description {
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #596679;
    margin-top: 15px;
}

.solutions-widget-geolookup-setting .settings-error {
	padding-top: 15px;
    font-size: 14px;
    color: orangered;
}

.solutions-widget-geolookup-setting .hideGLItem {
    display: none;
}

/*Layer Table*/
.solutions-widget-geolookup-setting .setting-layer-table {
    margin: 0px;
    padding-top: 15px;
}

.solutions-widget-geolookup-setting .enrich {
    width: 100px;
}

.solutions-widget-geolookup-setting .fieldselector {
    width: 140px;
}

/*SymbolArea*/
.solutions-widget-geolookup-setting .settings-symbol-area > tbody > tr > td {
    vertical-align: middle;
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #596679;
    margin-right: 10px;
}

.solutions-widget-geolookup-setting .settings-symbol-area {
	padding-bottom: 8px;
}

.solutions-widget-geolookup-setting .symbolItemleft {
    width: 50%;
    float: left;
    vertical-align: middle;
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #596679;
    margin-right: 10px;
}

.solutions-widget-geolookup-setting .symPreview {
	cursor: pointer;
}

/*Fields Table*/
.solutions-widget-geolookup-setting .appended {
    width: 100px;
}

/*Adv Settings*/
.solutions-widget-geolookup-setting .setting-adv-table {
    margin-left: 15px;
}

.solutions-widget-geolookup-setting .controlsMulti {
    width: 100%;
    height: 130px;
    vertical-align: middle;
}

.solutions-widget-geolookup-setting .controls {
    width: 100%;
    vertical-align: middle;
}

.solutions-widget-geolookup-setting .setting-adv-table > tbody > tr > td > span {
    margin-left: 20px;
}

.solutions-widget-geolookup-setting .setting-adv-table > tbody > tr > td > input {
    margin-left: 5px;
}

.solutions-widget-geolookup-setting .setting-adv-table > thead > tr > th,
.solutions-widget-geolookup-setting .setting-adv-table > tbody > tr > td {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    font-size: 1em;
}

.solutions-widget-geolookup-setting .adv-settings-subTitle {
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: bold;
    color: #596679;
}

.textAreaCoord {
    height: 130px;
    min-height: 100px;
    float: right;
    resize: none;
    width: 100%;
    font-size: 1em;
}

.solutions-widget-geolookup-setting .textBox {
    float: right;
    width: auto;
    margin-left: 5px;
    font-size: 1em;
}

 .claro .dijitDialogTitleBar {
 	background-color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-style:Semibold;
    font-size: 14px;
    color: #596679;
 }

 .claro .dijitDialogPaneContent {
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #596679;
 }

 .claro .dijitDialogPaneActionBar {
  	 background-color: #FFFFFF;
  	 border-color: #FFFFFF;
 }
