@import url('http://js.arcgis.com/3.12/dijit/themes/claro/claro.css');

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px)
{
    html
    {
        -webkit-text-size-adjust: none !important;
    }
}

.jimu-widget-frame > .jimu-container
{
    height: 100%;
    overflow-y: auto;
    position: relative;
    background-color: white;
    padding: 0px 0px 0px 0px;
    -webkit-overflow-scrolling: touch;
}

.jimu-widget-frame.jimu-container
{
    height: 100%;
    overflow-y: auto;
    position: relative;
    background-color: white;
    padding: 0px 0px 0px 0px;
    -webkit-overflow-scrolling: touch;
}

.jimu-tab > .jimu-viewstack
{
    position: static !important;
    margin-top: 5px;
}

.jimu-widget-ServiceFeasibility .esriCTfindNearestContainer
{
    float: left;
    padding: 15px;
    width: 100%;
}

.claro .dijitSelect, .claro .dijitTextBox
{
    width: 100%;
}

.jimu-widget-ServiceFeasibility .esriCTSelectFindNearest
{
    float: right;
    width: 50%;
    min-width: 151px;
    max-width: 200px;
}

.jimu-widget-ServiceFeasibility .esriCTSelectFindNearest select
{
    width: 100%;
    border: 1px solid #B5BCC7;
    height: 30px;
}

.jimu-widget-ServiceFeasibility .esriCTbusinessInfluenceContainer
{
    float: left;
    padding: 0 15px 10px 15px;
    width: 100%;
}

.jimu-widget-ServiceFeasibility .esriCTImgPoint
{
    background-image: url("../images/draw-point.png");
}

.jimu-widget-ServiceFeasibility .esriCTImgPolyline
{
    background-image: url("../images/draw-line.png");
}

.jimu-widget-ServiceFeasibility .esriCTImgPolygon
{
    background-image: url("../images/draw-polygon.png");
}

.jimu-widget-ServiceFeasibility .esriCTImgPointSelected
{
    background-image: url("../images/draw-point-select.png");
    background-color: #858585;
}

.jimu-widget-ServiceFeasibility .esriCTImgPolylineSelected
{
    background-image: url("../images/draw-line-select.png");
    background-color: #858585;
}

.jimu-widget-ServiceFeasibility .esriCTImgPolygonSelected
{
    background-image: url("../images/draw-polygon-select.png");
    background-color: #858585;
}

.jimu-widget-ServiceFeasibility .esriCTImgLocationSelected
{
    background-image: url("../images/Map-location-select.png");
    background-color: #858585;
}

.jimu-widget-ServiceFeasibility .esriCTimgSelectLocation
{
    background-image: url("../images/Map-location.png");
}

.jimu-widget-ServiceFeasibility .esriCTBarrierImg
{
    float: left;
    cursor: pointer;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.jimu-widget-ServiceFeasibility .esriCTBusinessInfluenceValue
{
    float: left;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 65%;
    white-space: nowrap;
}

.jimu-widget-ServiceFeasibility .esriCTBusinessInfluenceInput
{
    float: right;
    width: 25%;
    min-width: 80px;
    max-width: 150px;
}

.jimu-widget-ServiceFeasibility .esriCTBusinessInfluenceInput div.dijitTextBox
{
    width: 100%;
}

.jimu-widget-ServiceFeasibility .esriCTBusinessInfluenceSlider
{
    clear: both;
    padding: 10px 0px 10px 0px;
}

.jimu-widget-ServiceFeasibility .esriCTBarriersContainer
{
    display: none;
}

.jimu-widget-ServiceFeasibility .esriCTLocationContainer, .esriCTBarriersContainer
{
    clear: both;
    float: left;
    padding: 0 15px;
    margin-bottom: 15px;
    width: 100%;
}

.jimu-widget-ServiceFeasibility .esriCTBarriersLabel, .esriCTLocationLabel
{
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.jimu-widget-ServiceFeasibility .esriCTResultContainer
{
    height: 100px;
    padding: 15px 15px 0px 15px;
}

.jimu-widget-ServiceFeasibility .esriCTRouteLengthContainer
{
    height: 100%;
    border: 1px solid #485566;
    width: 44%;
    float: left;
    padding: 6px 5px 6px 5px;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
}

.jimu-widget-ServiceFeasibility .esriCTBusinessPassedContainer
{
    height: 100%;
    width: 44%;
    border: 1px solid #485566;
    float: right;
    padding: 6px 5px 6px 5px;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
}

.jimu-widget-ServiceFeasibility .esriCTRouteLengthLabel
{
    display: inline-block;
    text-align: center;
    font-size: 14px;
    height: 49%;
    width: 100%;
    overflow: hidden;
    text-overflow: initial;
    white-space: initial;
}

.jimu-widget-ServiceFeasibility .esriCTRouteAndCostLabel
{
    height: 100%;
    line-height: 18px;
}

.jimu-widget-ServiceFeasibility .esriCTBusinessPassedLabelText
{
    height: 100%;
    line-height: 18px;
}

.jimu-widget-ServiceFeasibility .esriCTBusinessPassedLabel
{
    text-align: center;
    font-size: 14px;
    height: 49%;
    overflow: hidden;
    text-overflow: initial;
    white-space: initial;
}

.jimu-widget-ServiceFeasibility .jimu-tab > .control > .tab.jimu-state-selected
{
    border-bottom: none;
    border-right: none;
    cursor: default;
    border-top: none;
}

.jimu-widget-ServiceFeasibility .jimu-tab > .control > .tab
{
    border-bottom: 1px solid #485566;
    border-right: 1px solid #485566;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.jimu-widget-ServiceFeasibility .jimu-tab > .control > .tab.jimu-state-selected + .tab
{
    border-left: 1px solid #485566;
    cursor: pointer;
}

.jimu-widget-ServiceFeasibility .esriCTButtonsContainer
{
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.jimu-widget-ServiceFeasibility .esriCTExportLayerButtonsContainer
{
    float: left;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.jimu-widget-ServiceFeasibility #btnFindButton
{
    height: 30px;
    min-width: 10%;
    max-width: 47%;
    text-align: center;
    line-height: 30px;
    padding: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 5px;
}

.jimu-widget-ServiceFeasibility #btnClearButton
{
    height: 30px;
    min-width: 10%;
    max-width: 47%;
    text-align: center;
    line-height: 30px;
    padding: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 5px;
}

.jimu-foldable-panel .title-label
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 75%;
}

.jimu-widget-ServiceFeasibility .esriCTButtonDisableColor
{
    background-color: #d9dde0;
    cursor: default;
    border: 1px solid #d9dde0;
}

.jimu-widget-ServiceFeasibility .esriCTButtonEnabledColor
{
    background-color: #485566 !important;
    border: 1px solid #485566;
    color: white;
    cursor: pointer !important;
}

.jimu-widget-ServiceFeasibility .esriCTRouteLengthCount
{
    height: 49%;
    font-size: 14px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 18px;
}

.jimu-widget-ServiceFeasibility .esriCTBusinessPassedCount
{
    height: 49%;
    font-size: 14px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 18px;
}

.jimu-widget-ServiceFeasibility .esriCTBusinessDropdownContainer
{
    width: 100%;
    height: 45px;
}

.jimu-widget-ServiceFeasibility .esriCTBusinessDropdownLabel
{
    margin-bottom: 5px;
    margin-top: 5px;
    width: 44%;
    float: left;
    max-height: 28px;
}

.jimu-widget-ServiceFeasibility .changeForResultContainer
{
    border-right: none !important;
}

.jimu-widget-ServiceFeasibility .disableColorChange
{
    background-color: #d9dde0;
    color: #86909c;
}

.jimu-widget-ServiceFeasibility .esriCTClearButtonContainer
{
    width: 48%;
    float: right;
}

.jimu-widget-ServiceFeasibility .esriCTFindButtonContainer
{
    width: 48%;
    float: left;
}

.jimu-widget-ServiceFeasibility .esriCTResultListPanel
{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-height: 279px;
    top: 5px;
}

.jimu-widget-ServiceFeasibility .esriCTFeatureFieldContainer
{
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid #d9dde0;
    padding: 4px;
}

.jimu-widget-ServiceFeasibility .esriCTListTitle
{
    margin-top: 21px;
    font-size: 14px;
    font-weight: bolder;
    color: #485566;
    padding-left: 15px;
    background-color: #d9dde0;
    height: 40px;
    padding-top: 12px;
}

.jimu-widget-ServiceFeasibility .esriCTSelectedFeatureFieldList
{
    background-color: #485566 !important;
    color: White !important;
}

.jimu-widget-ServiceFeasibility .esriCTDeselectedFeatureList
{
    background-color: White !important;
    color: Black !important;
}

.jimu-widget-ServiceFeasibility .esriCTFocusoutFeatureList
{
    background-color: White;
    color: Black;
}

.jimu-widget-ServiceFeasibility .esriCTHoverFeatureList
{
    background-color: #485566 !important;
    color: White !important;
}

.jimu-container .jimu-widget-ServiceFeasibility
{
    overflow: hidden;
    min-width: 290px;
}

.jimu-widget-ServiceFeasibility .esriCTDefaultCursor
{
    cursor: default !important;
    font-style: italic;
    border: none;
    font-size: 14px;
    height: 20px;
}

.jimu-widget-ServiceFeasibility .esriCTEllipsisForLabel
{
    float: left;
    width: 44%;
    max-width: 155px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
}

.jimu-widget-ServiceFeasibility .esriCTSaveLayerBtn
{
    float: right;
    cursor: pointer;
    width: 35px;
    height: 24px;
    background-image: url("../images/save-layer.png");
    background-repeat: no-repeat;
    position: relative;
    bottom: 2px;
}

.jimu-widget-ServiceFeasibility .esriCTexportCsvBtn
{
    float: right;
    cursor: pointer;
    width: 35px;
    height: 24px;
    background-image: url("../images/download-csv.png");
    background-repeat: no-repeat;
    position: relative;
    bottom: 2px;
}

.jimu-widget-ServiceFeasibility .esriCTBusinessTitleContainer
{
    width: 100%;
    background-color: #d9dde0;
}

.jimu-widget-ServiceFeasibility .esriCTHidePanel
{
    display: none !important;
}

.jimu-widget-ServiceFeasibility .esriCTShowPanel
{
    display: block;
}

.jimu-widget-ServiceFeasibility .esriCTSaveLayerPanel
{
    height: 100%;
    padding-top: 10px;
}

.jimu-widget-ServiceFeasibility .esriCTBackBtnImg
{
    background-image: url("../images/back-arrow.png");
    height: 24px;
    width: 24px;
    float: left;
}

.jimu-widget-ServiceFeasibility .esriCTSaveLayerTitleContainer
{
    height: 32px;
    width: 100%;
    padding-left: 10px;
    border-bottom: 1px solid #485566;
    padding-top: 5px;
}

.jimu-widget-ServiceFeasibility .esriCTBackButtonLabel
{
    width: 20%;
    font-weight: bold;
    color: #485566;
    font-size: 14px;
    float: left;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.jimu-widget-ServiceFeasibility .esriCTBackButtonLabel:hover
{
    text-decoration: underline;
}

.jimu-widget-ServiceFeasibility .esriCTSaveLayerLabel
{
    width: 60%;
    float: left;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.jimu-widget-ServiceFeasibility .esriCTRouteLayerLabel
{
    font-size: 14px;
    padding-left: 5px;
}

.jimu-widget-ServiceFeasibility .esriCTSaveLayerContentContainer
{
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
}

.jimu-widget-ServiceFeasibility .esriCTRouteLayerContainer
{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.jimu-widget-ServiceFeasibility .esriCTrouteLayerChkbox
{
    width: 100%;
}

.jimu-widget-ServiceFeasibility .esriCTSaveBusinessPassed
{
    width: 100%;
    height: 47px;
    padding-left: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.jimu-widget-ServiceFeasibility .esriCTSaveBusinessPassedLabel
{
    float: left;
    width: 45%;
    font-size: 14px;
}

.claro .jimu-widget-ServiceFeasibility .dijitTextBox
{
    width: 90%;
    max-width: 100%;
}

.jimu-widget-ServiceFeasibility .esriCTSaveRouteLength
{
    width: 100%;
    height: 40px;
    padding-left: 22px;
}

.jimu-widget-ServiceFeasibility .esriCTSaveRouteLengthLabel
{
    float: left;
    font-size: 14px;
    width: 45%;
}

.jimu-widget-ServiceFeasibility .esriCTSaveRouteLayerTxtBox
{
    width: 40%;
}

.jimu-widget-ServiceFeasibility .esriCTSaveButtonLabel
{
    height: 30px;
    max-width: 95%;
    width: auto;
    text-align: center;
    padding: 0 15px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.jimu-widget-ServiceFeasibility .esriCTSaveToLayerBtn
{
    width: 100%;
    height: auto;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.jimu-widget-ServiceFeasibility .esriCTBusinessLayerContainer
{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.jimu-widget-ServiceFeasibility .esriCTBusinessPassedListLabel
{
    width: auto;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    white-space: nowrap;
}

.jimu-widget-ServiceFeasibility .esriCTListLabelCSV
{
    max-width: 80%;
}

.jimu-widget-ServiceFeasibility .esriCTListLabelArrow
{
    max-width: 90%;
}

.jimu-widget-ServiceFeasibility .esriCTListLabelFullWidth
{
    max-width: 98%;
}

.jimu-widget-ServiceFeasibility .esriCTsaveRouteLength
{
    text-overflow: ellipsis;
    float: left;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

.jimu-widget-ServiceFeasibility .esriCTEditableFieldContainer
{
    margin-left: 20px;
    padding-bottom: 10px;
}

.jimu-widget-ServiceFeasibility .esriCTsaveBusinessPassed
{
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.claro .dijitSelect .dijitArrowButton
{
    width: 18%;
}

.esriCTBusinessDropdownValue
{
    width: 50%;
    float: right;
    min-width: 151px;
    max-width: 200px;
}

.esriCTDropdownValues
{
    width: 100%;
}

.tab-widget-frame .title
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.esriCTSelectFindNearest .dijitSelectLabel
{
    padding: 1px 0;
    width: 125px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.jimu-widget-ServiceFeasibility .ExportToLayer
{
    margin-top: 11px;
    height: 30px;
    max-width: 45%;
    text-align: center;
    padding: 0 15px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 5px;
}

.jimu-widget-ServiceFeasibility .esriCTSortArrow
{
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    height: 14px;
    width: 14px;
    display: inline-block;
    background-image: url("../images/sort1.png");
    float: left;
}

.jimu-widget-ServiceFeasibility .esriCTSortArrow:hover
{
    background-image: url("../images/sort2.png");
}

.jimu-widget-ServiceFeasibility .atiDeleteButton, .jimu-widget-ServiceFeasibility .atiLayerName, .jimu-widget-ServiceFeasibility .atiButtons
{
    display: none;
}

.jimu-widget-ServiceFeasibility .mainListTitleContainer
{
    width: 100%;
    float: left;
}

.claro .dijitComboBox .dijitArrowButtonInner
{
    vertical-align: middle;
    height: 25px !important;
}

.claro .dijitComboBox .dijitButtonNode
{
    height: 100%;
}

.jimu-widget-ServiceFeasibility .esriAttributeInspector .atiLabel
{
    max-width: 170px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Sorting tooltip styles end */

.esriCTSortOrderTooltipHide
{
    display: none;
}

.esriCTSortOrderTooltipShow
{
    display: block;
}

.esriCTAscendingOrderLabel
{
    margin-left: 10px;
}

.esriCTDescendingOrderLabel
{
    margin-left: 10px;
}

.esriCTDescendingSort
{
    margin-top: 10px;
}

.esriCTMarginL25
{
    margin-left: 25px;
}

.jimu-widget-ServiceFeasibility .esriCTCostHeadingDivFullWidth
{
    width: 100%;
}

.esriCTHideBusinessPassedDiv
{
    display: none;
}

.jimu-widget-frame.jimu-container .jimu-widget-ServiceFeasibility .esriCTDartHoverFeatureList
{
    background-color: #ffffff !important;
    color: #888888 !important;
}

.esriCTDartBackgroudColor
{
    background-color: Transparent !important;
}

.jimu-widget-frame.jimu-container .jimu-widget-ServiceFeasibility .esriCTSelectedDartFeatureFieldList
{
    background-color: #ffffff !important;
    color: #888888 !important;
}

.boxPanel
{
    top: 140px !important;
}

/* Sorting tooltip styles End*/

.jimu-panel.jimu-launchpad-panel .claro .dijitSliderImageHandle
{
    background: #fff;
    -webkit-box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 0.5px rgba(0,0,0,0.3), 0px 2px 2px rgba(0,0,0,0.2);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #3b8fc4;
    width: 16px;
    height: 16px;
    margin-top: -2px;
    position: absolute;
}

.jimu-panel.jimu-launchpad-panel .claro .dijitSliderDecrementIconH, .jimu-panel.jimu-launchpad-panel .claro .dijitSliderIncrementIconH, .jimu-panel.jimu-launchpad-panel .claro .dijitSliderDecrementIconV, .jimu-panel.jimu-launchpad-panel .claro .dijitSliderIncrementIconV
{
    height: 20px;
    width: 20px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #ddd;
    color: #3b8fc4;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 0;
}

.jimu-panel.jimu-launchpad-panel .claro .dijitSlider .dijitSliderRemainingBarH, .jimu-panel.jimu-launchpad-panel .claro .dijitSlider .dijitSliderRightBumper
{
    border: 0 none;
    background-color: #ddd;
}

/* IE9 CSS for Dart Theme */

.claro .dijitTextBoxIE9
{
    background-color: rgba(0, 0, 0, 0.25) !important;
}

.claro .dijitDateTextBox .dijitArrowButtonIE9::before
{
    content: inherit !important;
}

.claro .dijitComboBox .dijitButtonNodeIE9
{
    background-image: none !important;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.25) !important;
}

.claro .dijitSelect .dijitArrowButtonIE9
{
    background-image: none !important;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.25) !important;
}

.claro .dijitSelectIE9
{
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.claro .dijitTextBoxFocusedIE9 .dijitInputContainer
{
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.claro .dijitComboBox .dijitArrowButtonInner
{
    border: none !important;
}

.claro .dijitTextBox .dijitInputField
{
    padding: 2px 8px !importatnt;
}

.claro .dijitMenuPopupIE9 .dijitMenuItemIE9, .claro .dijitMenuPopupIE9 .dijitMenuItemIE9 td
{
    color: #f8f8f8;
}

.claro .dijitMenuIE9
{
    background-color: #4c4c4c;
}

/* IE9 CSS for Dart Theme */