.jimu-widget-footer{
  height: 100%;
  overflow: hidden;
  margin-left: 0px;
  margin-top: 0;
  border: 1px solid #111111;
  border-top: 1px solid #333333;
  border-top: 1px solid rgba(255,255,255, 0.08);
  width: 100%;
}

.jimu-widget-footer .footer-widget-copyright{    
  max-width: 800px;  
  color:#4c4c4c;
  font-size: 12px;  
  text-align: center;
  line-height: 22px;
  margin-left: auto;
  margin-right: auto;
}
