
/********************************************************/
.tab-widget-frame{
  border: 1px solid transparent;
}
.tab-widget-frame .title{
  overflow: hidden;
}
.tab-widget-frame .title-label{
  height: 20px;
  padding: 5px 13px;
  background-color: white;
  float: left;
  border-top-left-radius: 4px;
  color: #222;
  font: 12px Arial bold;
  display: inline-block;
  max-width: 338px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tab-widget-frame .title-angle{
  width: 21px;
  height: 20px;
  background: url(images/tab_triangle.png);
  float: left;
}
.tab-widget-frame .jimu-container{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  overflow-x: auto;
}
.tab-widget-frame .jimu-viewstack {
  top: 0px;
}
.tab-widget-frame .jimu-widget-chart{
  background-color: #fff;
}

.jimu-rtl .tab-widget-frame .title-label{
  float: right;
  border-top-right-radius: 4px;
  border-top-left-radius: 0;
}
.jimu-rtl .tab-widget-frame .title-angle{
  background: url(images/tab_triangle_2.png);
  float: right;
}
.jimu-rtl .tab-widget-frame .jimu-container{
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
}