<div style="width:740px;height:800px;background-color:white;padding-left:10px;padding-right:10px;font-family: Helvetica;font-size: 9pt;" id="main">
  <div style="width:740px;text-align:center;position: relative;"><h1>Parcel Improvement Information</h1></div>
  <div style="height:16px;width:740px;"></div>
  <div style="width:720px;text-align:center;padding-bottom:5px;padding-left:10px;"><span>Parcel Number:    </span><span id="pParNum"></span></div>
  <div style="width:720px;text-align:center;padding-bottom:5px;padding-left:10px;"><span>Owner Name:    </span><span id="pName"></span></div>
  <div style="width:720px;text-align:center;padding-bottom:5px;padding-left:10px;"><span>PIN Number:    </span><span id="pPPIN"></span></div>
  <div style="height:16px;width:740px;"></div>
</div>
