<div style="width:740px;height:800px;background-color:white;padding-left:10px;padding-right:10px;font-family:Helvetica;font-size:9pt;position:relative;" id="main">
  <div style="font-family:Helvetica;font-size:9pt;position:relative;">
    <div style="width:740px;text-align:center;position:relative;height:75px;">
      <img src="http://gis.calhouncounty.org/ParcelViewer3.1/widgets/eSearch/images/Crest.png" style="position:absolute;top:0;left:0;" />
      <div style="width:660px;text-align:center;padding-bottom:15px;position:absolute;top:0;left:80px;">
        <h1 style="margin-top:unset;">Parcel Coordinates Report</h1>
      </div>
      <div style="width:660px;text-align:center;position:absolute;top:30px;left:80px;">
        <h4 id="ParNum" style="margin-top:unset;"></h4>
      </div>
      <div style="width:660px;text-align:center;position:absolute;top:45px;left:80px;">
        <h4 id="Owner" style="margin-top:unset;"></h4>
      </div>
      <div style="width:660px;text-align:center;position:absolute;top:60px;left:80px;">
        <h4 id="PPIN" style="margin-top:unset;"></h4></div>
    </div>
    <div style="height:20px;width:740px;"></div>
    <div id="mapImgDiv" style="height:400px;width:740px;border:solid 1px black;background-color:lightgray;"><div    style="width:100%;height:100%;position:relative;"><div class="loading-container"><img src="http://gis.calhouncounty.org/ParcelViewer3.1/widgets/eSearch/images/downloading.gif"/><p>Retrieving Print Quality Map Image...</p></div></div></div>
    <div style="height:10px;width:740px;"></div>
    <div style="height:20px;width:740px;text-align:left;"><span>Point of beginning is symbolized by the green circle and all other parcel point by red square in clockwise order</span></div>
    <hr style="width:740px;" />
    <table class="coordsTableCls" id="coordsTable">
      <tbody id="coordsTableBody">
        <tr>
          <th>Parcel Boundary Point</th>
          <th>Latitude Cordinate</th>
          <th>Longittude Coordinate</th>
        </tr>
      </tbody>
    </table>
    <div style="height:20px;width:740px;"></div>
    <div style="width:740px;text-align:center;font-size: 10pt;"><b>Calhoun County Disclaimer</b></div>
    <div style="width:740px;text-align:center;font-size: 10pt;">Information is for tax purposes only and not to be used for conveyance.</div>
  </div>
</div>
