<div style="width:720px;height:auto;background-color:white;padding-left:10px;padding-right:10px;font-family: Helvetica;font-size: 9pt;" id="main">
  <div style="font-family: Helvetica;font-size: 9pt;width:100%;height100%">
    <div id="buttonsDiv" style="display:hidden;text-align: center;width:700px;"></div>
    <div style="height:10px;width:700px;"></div>
    <div id="viewStackDiv"></div>
    <div style="height:10px;width:700px;"></div>
    <div style="width:700px;text-align:center;padding-left:10px;"><b>Bill History</b></div>
    <table class="historyTableCls" id="historyTable">
      <tbody id="historyTableBody">
        <tr>
          <th>Bill</th>
          <th>Amount</th>
        </tr>
      </tbody>
    </table>
    <div style="height:10px;width:700px;"></div>
    <div style="width:700px;text-align:center;padding-left:10px;"><b>Payment Info</b></div>
    <table class="paymentTableCls" id="paymentTable">
      <tbody id="paymentTableBody">
        <tr>
          <th>Amount</th>
          <th>By</th>
          <th>Date</th>
        </tr>
      </tbody>
    </table>
    <div style="height:20px;width:700px;"></div>
  </div>
</div>
