.dtc-ImageProperties .head3 {
    font-size: 1.4em;
	font-weight:bold;
	display:block;
	padding-bottom:3px;
    line-height: 1em;
}

.dtc-ImageProperties .dijitSlider {
    margin-top: 5px;
}

.dtc-ImageProperties > .channels {
    padding-top: 10px;
}

.dtc-ImageProperties .col-1-3 {
    text-align: center
}