.jimu-widget-query-setting{
  margin:0;
  padding:0;
  font-size:15px;
  position: relative;
  width: 100%;
  height: 100%;
}

.jimu-widget-query-setting .query-list{
  position: absolute;
  top: 0;
  left: 0;
  width: 235px;
  height: 100%;
}

.jimu-widget-query-settingRtl .query-list{
  left: auto;
  right: 0;
}

.jimu-widget-query-setting .query-list-content{
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 5px;
}

.jimu-widget-query-setting .single-query-container{
  position: absolute;
  left: 265px;
  right: 0;
  height: 100%;
  overflow-y: auto;
}

.jimu-widget-query-settingRtl .single-query-container{
  left: 0;
  right: 265px;
}

.jimu-widget-single-query-setting{
  width: 100%;
}

.jimu-widget-single-query-setting table.general{
  width: 100%;
  border-collapse: collapse;
}

.jimu-widget-single-query-setting table.general>tbody>tr>td{
  height: 40px;
}

.jimu-widget-single-query-setting table.general>tbody>tr>.first-td{
  width: 100px;
}

.jimu-widget-single-query-setting table.general>tbody>tr>.second-td{
  width: auto;
}

.jimu-widget-single-query-setting .detail{
  width: 100%;
  margin-top: 15px;
}

.jimu-widget-single-query-setting .detail .jimu-tab3>.container-node>.view{
  overflow: auto;
}

.jimu-widget-single-query-setting .tab-item-div{
  height: 30px;
  line-height: 30px;
}

.jimu-widget-single-query-setting .title-sorting-table{
  table-layout:fixed;
  width:100%;
}

.jimu-widget-single-query-setting .title-sorting-table > tbody > tr > td{
  padding-top: 3px;
  padding-bottom: 3px;
}

.jimu-query-setting-popup-config .btn-add-fields{
  cursor: pointer;
}

.jimu-query-setting-popup-config .btn-sort-fields{
  width: 14px;
  height: 14px;
  background: center center no-repeat url(images/edit_disabled.png);
  cursor: default;
}

.jimu-query-setting-popup-config .btn-sort-fields.enabled{
  background: center center no-repeat url(images/edit_enabled.png);
  cursor: pointer;
}

.jimu-query-setting-popup-config .sort-fields-div{
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #d2dae2;
  background-color: #e3ecf2;
  color: #7989a0;
  font-size: 14px;
}

.jimu-query-setting-popup-config .sort-fields-div span{
  float: left;
  display: inline-block;
  height: 30px;
  line-height: 30px;
}

.jimu-query-setting-popup-config .sort-arrow{
  width: 13px;
}

.jimu-query-setting-popup-config .sort-arrow.asc{
  background: center center no-repeat url(images/up_arrow.png);
}

.jimu-query-setting-popup-config .sort-arrow.desc{
  background: center center no-repeat url(images/down_arrow.png);
}

.jimu-query-setting-sort-fields .add-with-icon{
  margin-top: 4px;
}

.jimu-query-setting-sort-fields .sort-tip{
  display: inline-block;
}