.jimu-widget-edraw {
    font-size: 14px;
    height: 100%;
    min-height: 192px;
    min-width: 270px;
    width: 100%;
}
.jimu-widget-edraw .full-width {
    width: 100% !important;
}
.jimu-widget-edraw .editor-add-message{
	margin-top:10px;
	font-style:italic;
}
.jimu-widget-edraw .measure-section {
    margin-top: 12px;
    width: 100%;
	margin-bottom: 12px;
	padding-right: 3px;
	padding-bottom: 10px;
}
.jimu-widget-edraw .area-units-tip {
    height: 30px;
    line-height: 30px;
    padding-left: 17px;
}
.jimu-rtl .jimu-widget-edraw .area-units-tip {
    padding-left: 0;
    padding-right: 17px;
}
.jimu-widget-edraw .distance-units-tip {
    height: 30px;
    line-height: 30px;
    padding-left: 17px;
}
.jimu-rtl .jimu-widget-edraw .distance-units-tip {
    padding-left: 0;
    padding-right: 17px;
}
.jimu-widget-edraw .dijitArrowButtonContainer {
    width: 40px;
}
.jimu-widget-edraw .dijitSelect {
    height: 40px;
    width: 100%;
}
.jimu-widget-edraw .dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitDownArrowButton {
    width: 100%;
}
.jimu-widget-edraw .dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitUpArrowButton {
    width: 100%;
}
.jimu-widget-edraw .dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitDownArrowButton .dijitArrowButtonInner {
    width: 100%;
}
.jimu-widget-edraw .dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitUpArrowButton .dijitArrowButtonInner {
    width: 100%;
}
.jimu-widget-edraw .menu {
    border-bottom: 2px solid rgb(72, 85, 102);
    height: 36px;
    margin-bottom: 10px;
    width: 100%;
}
.jimu-widget-edraw .menu-item {
    background-color: rgba(72, 85, 102, 0.4);
    border: 1px solid rgba(72, 85, 102, 0.8);
    float: left;
    margin-right: 5px;
    width: 36px;
}
.jimu-widget-edraw .menu-item:hover {
    background-color: rgba(72, 85, 102, 0.6);
    cursor: pointer;
}
.jimu-widget-edraw .menu-item-active {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: rgba(72, 85, 102, 0.8);
    border-color: rgba(72, 85, 102, 0.8) rgba(72, 85, 102, 0.8) -moz-use-text-color;
    border-image: none;
    border-radius: 3px 3px 0 0;
    border-style: solid solid none;
    border-width: 2px 2px medium;
    float: left;
    margin-right: 5px;
    width: 36px;
}
.jimu-widget-edraw .menu-item-active:hover {
}
.jimu-widget-edraw .hidden {
    display: none;
}
.jimu-widget-edraw .draw-table tr {
    border: 1px solid white;
}
.jimu-widget-edraw .draw-table th {
    background-color: #8d989e;
    font-weight: bold;
    text-align: center;
}
.jimu-widget-edraw .draw-table tr:hover th {
    background-color: #8d989e;
}
.jimu-widget-edraw .draw-table .td-center {
    text-align: center;
}
.jimu-widget-edraw .draw-table .selected td {
    background-color: rgba(15, 108, 159, 0.2);
}
.jimu-widget-edraw .draw-table .selected:hover td {
    background-color: rgba(15, 108, 159, 0.3);
}
.jimu-widget-edraw .list-draw-actions {
    height: 100%;
    vertical-align: middle;
    width: 197px;
}
.jimu-widget-edraw .list-draw-actions span {
    border-radius: 5px;
    color: white;
    display: block;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    height: 30px;
    margin: 3px;
    min-height: 30px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}
.jimu-widget-edraw .list-draw-actions span.text {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: black;
    font-size: 1em;
    position: relative;
    width: auto;
}
.jimu-widget-edraw .list-draw-actions span.text:hover {
    border: medium none;
    cursor: auto;
    font-size: 1em;
}
.jimu-widget-edraw .list-draw-actions span.clear {
    background-image: url("images/clear.png");
}
.jimu-widget-edraw .list-draw-actions span.edit {
    background-image: url("images/edit.png");
}
.jimu-widget-edraw .list-draw-actions span.zoom {
    background-image: url("images/zoom.png");
}
.jimu-widget-edraw .list-draw-actions span.up {
    background-image: url("images/up.png");
}
.jimu-widget-edraw .list-draw-actions span.down {
    background-image: url("images/down.png");
}
.jimu-widget-edraw .list-draw-actions span.export {
    background-image: url("images/download.png");
}
.jimu-widget-edraw .list-draw-actions span.import {
    background-image: url("images/upload.png");
}
.jimu-widget-edraw .list-draw-actions span:hover {
    border: 1px solid rgb(72, 85, 102);
    cursor: pointer;
}
.jimu-widget-edraw .title {
    margin-left: 5px;
    margin-top: 5px;
}
.message-info-icon {
    background-image: url("images/info.png");
    float: left;
    height: 48px;
    width: 48px;
}
.message-error-icon {
    background-image: url("images/error.png");
    float: left;
    height: 48px;
    width: 48px;
}
.message-warning-icon {
    background-image: url("images/warning.png");
    float: left;
    height: 48px;
    width: 48px;
}
.jimu-widget-edraw p.no {
    display: none;
}
.jimu-widget-edraw p.info {
    background-color: lightblue;
    border-radius: 3px;
    padding: 3px;
    width: 100%;
}
.jimu-widget-edraw p.error {
    border-radius: 3px;
    padding: 3px;
    width: 100%;
}
.jimu-widget-edraw p.warning {
    background-color: orange;
    border-radius: 3px;
    padding: 3px;
    width: 100%;
}
.jimu-widget-edraw h2 {
    margin-bottom: 0;
    margin-top: 2px;
}
.jimu-widget-edraw .draw-import {
    height: 50px;
    width: 100%;
}
.jimu-widget-edraw .draw-import .file {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    cursor: pointer;
    float: left;
    padding: 5px;
}
.jimu-widget-edraw .draw-import > a {
    float: left;
    height: 36px;
    width: 36px;
}
.jimu-widget-edraw #nameField {
    width: 100%;
}
.jimu-widget-edraw #descriptionField {
    min-height: 60px;
    width: 100%;
}
.jimu-widget-edraw label {
    font-weight: bold;
}
.jimu-widget-edraw .content {
    background-color: rgba(78, 130, 138, 0.1);
    height: calc(100% - 100px);
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: calc(100%);
}

.jimu-widget-edraw .bloc{
    background-color: rgba(78, 130, 138, 0.1);
}

.jimu-widget-edraw .content hr {
    color: rgba(78, 130, 138, 0.6);
}
.jimu-widget-edraw .footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}
.jimu-widget-edraw .footer .jimu-input {
    border-radius: 5px;
    color: black;
}
.jimu-widget-edraw .footer .jimu-input:hover {
    cursor: pointer;
}
.jimu-widget-edraw .blue-button {
    background-color: rgba(115, 185, 255, 0.7);
}
.jimu-widget-edraw .blue-button:hover {
    background-color: rgba(115, 185, 255, 1);
}
.jimu-widget-edraw .red-button {
    background-color: rgba(255, 150, 115, 0.7);
}
.jimu-widget-edraw .red-button:hover {
    background-color: rgba(255, 150, 115, 1);
}
.jimu-widget-edraw .grey-button {
    background-color: rgba(153, 153, 153, 0.7);
}
.jimu-widget-edraw .grey-button:hover {
    background-color: rgba(153, 153, 153, 1);
}

.jimu-widget-edraw .symbol-set-table{
	width:100%;
}



.jimu-widget-edraw div.symbol-section.text-symbol-section > table > colgroup > col:nth-child(1) {
  width: 80px;
}
.jimu-widget-edraw .draw-plus.font-name {
  width:145px;
  height:30px;
  float:left;"
}
.jimu-widget-edraw .draw-plus.text-angle {
  width: 50%;
}
.jimu-widget-edraw .draw-plus.text-angle-sample {
  position: absolute;
  margin-left: 30px;
  margin-top: 7px;
}
.jimu-widget-edraw .draw-plus.text-options {
  float:left; 
  padding:4px; 
  height:30px;
}
.jimu-widget-edraw .draw-plus.text-option {
  width:22px;
  height:22px;
  line-height: 22px;
  text-align: center;
  float: left;
  border-style: solid;
  border-width: 1px;
  border-color: #808080;
  margin-left: 5px;
  font-family: serif;
  font-size: 14px;
  font-weight: bold;
  display: table;
}
.jimu-widget-edraw .draw-plus.text-option.selected {
  background-color: #C0C0C0;
  border-width: 2px;
  border-radius:2px;
}
.jimu-widget-edraw .draw-plus.text-option:hover{
  background-color: #D1D1D1;
  cursor:pointer;
}

.jimu-widget-edraw .draw-plus.text-options div.draw-plus.text-option.text-italic {
  font-style: italic;
}
.jimu-widget-edraw .draw-plus.text-options div.draw-plus.text-option.text-underline {
  text-decoration: underline;
}