.elevationsProfile, .elevationsProfileChartNode {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.esriMeasurement .esriMeasurementResultLabel{
  display:none;
}
.esriMeasurement
.esriMeasurement .esriMeasurementResultValue{
  display:none !important;
}
.esriMeasurement{
  position: absolute;
  right: 280px;
}
.esriRTL .esriMeasurement{
  position: absolute;
  left:165px;
  right:auto;
}
.esriMeasurement .esriMeasurementSeparator{
    display:none;
}
.esriMeasurement .esriMeasurementResultValue div {
    display: none;
}
.esriMeasurement #dijit_form_DropDownButton_0{
    visibility: visible !important;
}
.esriMeasurement .esriButtonChecked .dijitButtonNode{
    border: solid 2px #CD853F !important;
}

.elevationsProfileToolbar {
    position: absolute;
    float: right;
    text-align: right;
    width: 100%;
    height:50px;
    padding: 0 !important;
    background: none !important;
    border: none !important;
}

.esriRTL .elevationsProfileToolbar {
    float: left;
    text-align: left;
}

.elevationsProfileToolbar .dijitButtonText {
    color: #4B550C;
    font-size: small;
    font-weight: bolder;
}

.elevationsProfileToolbar .dijitButtonText:hover {
    color: #CD853F;
    font-size: small;
    font-weight: bolder;
}

.elevationsProfileToolbar .dijitButtonNode {
    margin: 0;
    padding: 2px;
    background: none !important;
    border: solid 1px transparent !important;
    border-radius: 3px !important;
}

.elevationsProfileToolbar .dijitArrowButtonInner {
    background-image: url(../images/buttonArrows.png) !important;
}

.elevationsProfileLabel {
    color: #eee;
    font-weight: bolder;
    font-size: 0.7em;
    line-height: 1.0em;
}

.elevationsProfileGainLossLabel {
    width: 30%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: left;
    white-space: nowrap;
    display: inline-block;
    position: absolute;
}

.esriRTL .elevationsProfileGainLossLabel {
    right: 10px;
    text-align: right;
}

.elevationsProfileSourceLabel {
    width: 30%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
    text-overflow: ellipsis;
}

.esriRTL .elevationsProfileSourceLabel {
    left: 10px;
    text-align: left;
}

.elevationsProfilePopupRequirementLabel {
    color: #ccc;
    padding-left: 6px;
    font-size: small;
}
.elevationsProfileLineOfSightLabel {
    color: #4B550C;
    font-size: small;
    font-weight: bolder;
}

.elevationsProfileLineOfSightLabel:hover {
    color: #CD853F;
    font-size: small;
    font-weight: bolder;
}

/*.elevationsProfileLineOfSightHidden {*/
    /*display: block;*/
/*}*/

/*.claro .dijitReset.dijitInline.dijitCheckBox {*/
    /*display: block;*/
/*}*/